.auth-wrap {
  padding-top: 100px;
  height: 100vh;
  display: flex;
}

.auth-cont{
  margin: 0 auto;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0;
  height: min-content;
}

.auth-title {
  font-family: MontserratB;
  font-size: 32px;
  line-height: 40px;
  color: #262626;
  margin-bottom: 40px;
}

.auth-wrap-p {
  font-size: 18px;
  line-height: 32px;
  color: #627384;
}

.auth-wrap form {
  width: 100%;
  margin: 40px 0 32px;
  display: flex;
  flex-direction: column;
}

.auth-wrap form button {
  width: 100%;
}

.auth-forgot-pass {
  font-weight: 600;
  display: block;
  margin-bottom: 40px;
  color: #627384;
}

.auth-forgot-pass:hover {
  color: #FF6A00;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}

.auth-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.auth-to-signup {
  font-weight: 600;
  color: #FF6A00;
}

.auth-to-signup:hover {
  color: #627384;
  transition: all .2s ease-in-out;
}

.signup-pass {
  position: relative;
  margin-bottom: 48px;
}

.signup-pass:after {
  position: absolute;
  content: 'Не менее 8 символов, только буквы и цифры';
  font-size: 14px;
  line-height: 16px;
  color: #627384;
  top: 70px;
  left: 0;
}