.contests-wrap .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contests-wrap {
  /*padding: 80px 0;*/
}

.span-filter-bar {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.span-filter-item {
  margin-right: 22px;
  font-size: 18px;
  line-height: 32px;
  color: #627384;
  font-weight: 600;
  position: relative;
}
.span-filter-item:hover {
  cursor: pointer;
}

.span-filter-item:last-child {
  margin-right: 0;
}

.span-filter-active {
  color: #FF6A00;
}

.span-filter-active:after {
  position: absolute;
  content: '';
  top: 32px;
  left: 0;
  height: 2px;
  width: 100%;
  background: #FF6A00;
}

.contest-header {
  position: relative;
  padding: 32px 0 80px;
  max-height: 640px;
}

.contest-date-info {
  color: #fff;
  font-size: 20px;
  line-height: 32px;
}

.contest-body {
  max-width: 67%;
}

.contest-dscr-block {
  margin-bottom: 80px;
}

.contest-dscr-block p {
  font-size: 20px;
  line-height: 32px;
  color: #4C5967;
  margin-bottom: 32px;
}

.contest-dscr-block a {
  color: #2DB7D2;
  font-weight: 600;
  text-decoration: underline;
}

.contest-body-h {
  font-family: MontserratB;
  font-size: 32px;
  line-height: 40px;
  color: #262626;
  margin-bottom: 40px;
}