.contest-header .header-info .go-to-back-white {
  margin-bottom: 16px;
}
.contest-header .header-info .header-title {
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .contest-header .header-info .header-title {
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 32px;
  }
}
@media (min-width: 1024px) {
  .contest-header .header-info .header-title {
    font-size: 56px;
    line-height: 64px;
    margin-bottom: 40px;
  }
}
.contest-header .header-info .header-dscr {
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .contest-header .header-info .header-dscr {
    font-size: 24px;
    margin-bottom: 16px;
  }
}
@media (min-width: 1024px) {
  .contest-header .header-info .header-dscr {
    margin-bottom: 32px;
  }
}
.contest-header .header-info .contest-date-info {
  margin-bottom: 32px;
}
@media (min-width: 1024px) {
  .contest-header .header-info .contest-date-info {
    margin-bottom: 64px;
  }
}
.contest-header .header-info .contest-date-info p {
  font-size: 18px;
  line-height: 32px;
}
@media (min-width: 768px) {
  .contest-header .header-info .contest-date-info p {
    font-size: 20px;
  }
}
.contest-header .header-info .contest-date-info p strong {
  font-size: 20px;
}
@media (min-width: 768px) {
  .contest-header .header-info .contest-date-info p strong {
    font-size: 24px;
  }
}
.contest-header .header-info .btn {
  max-width: 100%;
}
@media (min-width: 768px) {
  .contest-header .header-info .btn {
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
  }
}

.contest-page__spec {
  color: #FF6A00;
  font-size: 18px;
  line-height: 32px;
  font-family: MontserratSB;
}
@media (min-width: 768px) {
  .contest-page__spec {
    font-size: 20px;
  }
}

.contest-dscr-block {
  margin-bottom: 0;
}

.work-list__head {
  color: #262626;
  font-family: MontserratB;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .work-list__head {
    font-size: 32px;
    line-height: 40px;
  }
}

.work-list__item {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (min-width: 768px) {
  .work-list__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.work-list__img {
  max-width: 100%;
  margin-bottom: 10px;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}
@media (min-width: 768px) {
  .work-list__img {
    width: 35%;
  }
}

.work-list__disc {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
@media (min-width: 768px) {
  .work-list__disc {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 61%;
  }
}

.work-list__name {
  font-size: 20px;
  line-height: 32px;
  color: #262626;
  margin-bottom: 16px;
  font-family: MontserratB;
}

.work-list__text {
  color: #4C5967;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 16px;
}

.work-list__show {
  font-size: 18px;
  line-height: 32px;
  font-family: MontserratSB;
  color: #FF6A00;
}
@media (min-width: 768px) {
  .work-list__show {
    margin-bottom: 36px;
    display: inline-block;
  }
}

.work-list__vote {
  width: 100%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .work-list__vote {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (min-width: 768px) {
  .work-list__vote_mobile {
    display: none;
  }
}

.work-list__vote_desc {
  display: none;
}
@media (min-width: 768px) {
  .work-list__vote_desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.vote__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.vote__control span {
  display: none;
}

.vote__count {
  color: #4C5967;
  font-size: 16px;
  line-height: 20px;
}

.contest-button {
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
@media (min-width: 768px) {
  .contest-button {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.contest-page__btn {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .contest-page__btn {
    margin-left: 10px;
    margin-right: 10px;
    width: 256px;
  }
}