.vote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.vote__control span {
  margin-left: 10px;
  font-size: 16px;
  line-height: 20px;
  color: #191919;
  font-family: MontserratSB;
}
@media (min-width: 768px) {
  .vote__control span {
    display: block;
  }
}

.contest-work__back-arrow {
  margin: 32px 0 16px 0;
  display: inline-block;
}
.contest-work__back-arrow span {
  font-size: 16px;
  line-height: 24px;
  color: #617384;
  display: inline-block;
  margin-left: 12px;
}
@media (min-width: 768px) {
  .contest-work__back-arrow span {
    font-size: 18px;
    line-height: 32px;
    font-family: MontserratSB;
  }
}

.contest-work__h1 {
  font-size: 36px;
  line-height: 40px;
  font-family: MontserratB;
  color: #262626;
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .contest-work__h1 {
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 32px;
  }
}
@media (min-width: 1024px) {
  .contest-work__h1 {
    font-size: 56px;
    line-height: 64px;
    margin-bottom: 24px;
  }
}

.contest-work__h3 {
  font-size: 20px;
  line-height: 32px;
  font-family: MontserratM;
  color: #262626;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .contest-work__h3 {
    font-size: 24px;
    line-height: 32px;
  }
}

@media (min-width: 768px) {
  .contest-work__image-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 64px;
  }
}
@media (min-width: 1024px) {
  .contest-work__image-container {
    margin-bottom: 80px;
  }
}

.contest-work__img {
  max-width: 100%;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .contest-work__img {
    width: 48%;
    margin-bottom: 0;
  }
}
@media (min-width: 1024px) {
  .contest-work__img {
    width: 40%;
  }
}

.contest-work__vote {
  margin-bottom: 66px;
}
@media (min-width: 768px) {
  .contest-work__vote {
    margin-bottom: 0;
    width: 48%;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
}
@media (min-width: 1024px) {
  .contest-work__vote {
    width: 56%;
  }
}

.contest-work__h2 {
  font-family: MontserratSB;
  font-size: 24px;
  line-height: 32px;
  color: #262626;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .contest-work__h2 {
    margin-bottom: 40px;
    font-size: 32px;
    line-height: 40px;
  }
}

.contest-work__text {
  font-size: 18px;
  line-height: 32px;
  color: #4C5967;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .contest-work__text {
    font-size: 20px;
    line-height: 32px;
  }
}
@media (min-width: 1024px) {
  .contest-work__text {
    max-width: 608px;
  }
}
@media (min-width: 1440px) {
  .contest-work__text {
    max-width: 736px;
  }
}

.last-work__head {
  font-family: MontserratB;
  font-size: 24px;
  line-height: 32px;
  margin: 32px 0 40px 0;
  color: #262626;
}
@media (min-width: 768px) {
  .last-work__head {
    font-size: 32px;
    line-height: 40px;
  }
}

@media (min-width: 768px) {
  .last-work__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.last-work__item {
  margin-bottom: 42px;
}
@media (min-width: 768px) {
  .last-work__item {
    width: 48%;
  }
  .last-work__item:last-child {
    display: none;
  }
}
@media (min-width: 1024px) {
  .last-work__item {
    width: 31%;
  }
  .last-work__item:last-child {
    display: block;
  }
}

.last-work__img {
  max-width: 100%;
}

.last-work__name {
  font-family: MontserratB;
  font-size: 20px;
  line-height: 32px;
  color: #262626;
  margin: 8px 0 18px 0;
}
@media (min-width: 768px) {
  .last-work__name {
    font-size: 24px;
    line-height: 32px;
    margin: 24px 0 18px 0;
  }
}