.back-link {
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 32px;
}
.back-link a {
  color: #627384;
  font-family: MontserratSB;
  padding-left: 4px;
}
.back-link:before {
  content: url("../src/img/back-arrow.svg");
  position: relative;
  top: 1px;
}

.contest-registration_padding {
  padding: 120px 0 80px 0;
}
.contest-registration_padding .container {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.contest-registration .contest-registration__body {
  max-width: 736px;
}
.contest-registration .text-subtitle {
  margin-bottom: 40px;
}
.contest-registration select {
  background: white;
}

.contest-registration__regulation {
  margin-bottom: 40px;
}

.text-subtitle {
  font-size: 20px;
  line-height: 40px;
  font-family: MontserratB;
  color: #262626;
}
@media (min-width: 768px) {
  .text-subtitle {
    font-size: 32px;
  }
}

.text-general {
  font-size: 18px;
  line-height: 32px;
  font-family: MontserratM;
  color: #4C5967;
}
@media (min-width: 768px) {
  .text-general {
    font-size: 20px;
  }
}
.text-general.text-general_bold {
  font-family: MontserratB;
}
.text-general.text-general_mb40 {
  margin-bottom: 40px;
}
.text-general.text-general_mb80 {
  margin-bottom: 80px;
}

.input-wrapper-w200 {
  max-width: 200px;
}

.input-wrapper-w400 {
  max-width: 400px;
}

.radio {
  position: relative;
}
.radio label {
  position: relative;
  padding: 5px 0 5px 40px;
}
.radio label:before {
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  border-radius: 100%;
  border: 2px solid #ABB2BA;
  position: absolute;
  top: 0;
  left: 0;
}
.radio input[type=radio]:checked + label:after {
  content: "";
  width: 18px;
  height: 18px;
  background: #FF6A00;
  border-radius: 100%;
  position: absolute;
  top: 3px;
  left: 3px;
}
.radio input[type=radio] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
}

.radio-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 0;
  margin-bottom: 16px;
}
.radio-group .radio {
  margin-right: 40px;
}