.courses-wrapper {
  padding: 150px 0 80px 0;
}

.courses-wrapper .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.courses-topline {
  width: 100%;
  margin-bottom: 40px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.courses-topline .h2-title {
  margin-bottom: 0;
}

.btn-courses-filter {
  display: none;
  align-items: center;
  margin-left: 24px;
}

.btn-filter-icon {
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../src/img/filter.svg);
}

.btn-filter-txt {
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: #FF6A00;
  margin-left: 8px;
}

.courses-search-input .input {
  padding: 12px 16px 12px 56px;
}

.courses-body {  
  display: flex;
}

.courses-filterbar {
  width: 23%;
  margin-right: 32px;
}

.category-title {
  font-family: MontserratB;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 32px;
}

.courses-body .category-title {
  margin-top: 40px;
}

.courses-body .category-title:first-child {
  margin-top: 0;
}

.courses-list {  
  max-width: 76%;
}

.course {
  display: flex;
  margin-bottom: 40px;
}

.course:last-child {
  margin-bottom: 0;
}

.course-img {
  width: 46%;
  margin-right: 32px;
  position: relative;
}

.course-img:after {
  content: '';
  position: absolute;
  top: 16px;
  left: 0;
  color: #fff;
  background-color: #FF6A00;
  display: block;  
  font-size: 32px;
  line-height: 40px;
}

/* СКИДОЧНЫЕ ПЛАШКИ НА КУРСЫ */

.course-discount50:after {
  content: '-50%';
  padding: 4px 16px;
}

.course-discount40:after {
  content: '-40%';
  padding: 4px 16px;
}

/*  */

.course-info {
  width: 54%;
}

.course .block-info {
  margin-bottom: 32px;
}

.course-details {
  display: flex;
  align-items: center;
}

.course-price {
  padding: 4px 16px;
  background: #FF6A00;
  border-radius: 34px;
  font-size: 18px;
  line-height: 32px;
  color: #fff;
  font-weight: 600;  
}

.course-status {
  margin-left: 24px;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
}

.course-status-notstarted {
  color: #4C5967;
}

.course-status-already {
  color: #39B54A;
}

.pagination-wrappper {
  display: flex;
  margin: 60px auto 0;
  width: max-content;
}
.pagination-wrappper .points {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  margin-right: 8px;
  font-size: 16px;
  line-height: 24px;
  color: #627384;
  padding: 12px;
  text-align: center;
}
.pagination-item {
  width: 48px;
  height: 48px;
  border: 1px solid #ABB3BA;
  border-radius: 8px;
  margin-right: 8px;
  font-size: 16px;
  line-height: 24px;
  color: #627384;
  padding: 12px;
  text-align: center;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-arr-back,
.pagination-arr-forw {
  border: 1px solid #C7CCD1;
}

.pagination-active {
  border: 1px solid #FF6A00;
  color: #FF6A00;
}

.pagination-arr {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25%;
}

.pagination-arr-back {
  background-image: url(../src/img/arr_left.svg);
}

.pagination-arr-forw {
  background-image: url(../src/img/arr_right.svg);
}

.pagination-arr-inactive-left {
  background-image: url(../src/img/arr_left_inactive.svg);
}

.pagination-arr-inactive-right {
  background-image: url(../src/img/arr_right_inactive.svg);
}