.course-content .container {
  padding-bottom: 36px;
}
/* УБРАТЬ ЭТОТ КОСТЫЛЬ КОГДА ПОЯВЯТСЯ БЛОКИ С ОТЗЫВАМИ */

.course-header {
  position: relative;
  padding: 32px 0 80px;
  min-height: min-content;
}

.header-bckg {
  position: absolute;  
  z-index: -1;
  height: 100%;
  width: 100%;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-bckg img {
  height: 100%;
  margin: 0 auto;
  display: flex;
}

.header-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(45, 183, 210, 0.85) 0%, rgba(15, 117, 138, 0.85) 100%)
}

.course-header .container {
  align-items: flex-start;
}

.go-to-back-white {
  vertical-align: middle;
}

.go-to-back-white span{
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
}

.header-info {
  position: relative;
  z-index: 900;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-info > * {
  margin-bottom: 32px;
}

.header-info .btn {
  max-width: max-content;
}

.header-title {
  font-family: MontserratEB;
  font-size: 56px;
  line-height: 64px;
  color: #FFFFFF;
  /* margin: 16px 0 40px; */
}

.header-dscr {
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  max-width: 75%;
  /* margin-bottom: 56px; */
}

.teacher {
  display: flex;
  align-items: center;
}

.teacher-photo {
  width: 96px;
  height: 96px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  margin-right: 24px;
}

.teacher-dscr {
  max-width: 60%;
}

.teacher-title,
.teacher-info {
  font-size: 20px;
  line-height: 32px;
  color: #FFFFFF;
}

.teacher-title {
  font-family: MontserratB;
}

.course-content {
  margin-top: 48px;  
}

.course-content .container {
  align-items: flex-start;  
}

.cont-row {
  display: flex;
  max-width: 100%;
}

.course-body {
  max-width: 67%;
}

.course-description {
  margin-bottom: 80px;
}

.course-title {
  font-family: MontserratB;
  font-size: 32px;
  line-height: 40px;
  margin: 80px 0 40px;
}
.course-description-topline {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 40px;
}

.course-title-topline {
  font-family: MontserratB;
  font-size: 32px;
  line-height: 40px;
}

.course-open-all {
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: #627384;
}

/* ======================== */

.course-modul {
  margin-bottom: 80px;
}

.modul-title {
  font-family: MontserratB;
  font-size: 24px;
  line-height: 32px;
  color: #262626;
  margin-bottom: 40px;
}

.modul-block {
  margin-bottom: 24px;
  padding: 0 0 24px;
  border-bottom: 1px solid #DDE0E3;
}

.modul-block * {
  color: #4C5967;
  font-size: 20px;
  line-height: 32px;
}

.modul-block-topline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;  
}

.modul-block-topline:hover {
  cursor: pointer;
}

.modul-block-topline-active .m-block-arr{
  background-image: url(../src/img/accordeon_arr_grey_open.svg);
}

.m-block-title {
  font-family: MontserratB;  
}

.m-block-arr {
  height: 12px;
  width: 18px;
  background-image: url(../src/img/accordeon_arr_grey_close.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.course-modul .video-wrap {
  width: 80%;
  max-height: 300px;
  display: flex;
  margin: 0;
  margin-top: 16px;
}

.course-modul .video-wrap iframe {
  margin: 0;  
}

.modul-hide-block {
  margin-top: 16px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

/* ======================== */

.rate-block {  
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}

.rate {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  margin-right: 16px;
}

.rate-row {
  display: flex;
  align-items: center;
}

.rate-star {
  width: 24px;
  height: 22.5px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../src/img/rate_star.svg);
  margin-right: 8px;
}

.rate-star:last-child {
  margin-right: 0;
}

.add-fav-icon {
  width: 20px;
  height: 18px;
  display: inline-block;
  vertical-align: text-top;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../src/img/add_fav.svg);
  margin-right: 10px;
}

.btn:hover .add-fav-icon {
  background-image: url(../src/img/add_fav_hover.svg);
  transition: all .2s ease-in-out;
}

.btn:active .add-fav-icon {
  background-image: url(../src/img/add_fav_active.svg);
  transition: all .2s ease-in-out;
}

/* ======================== */

.step {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.step * {
  color: #4C5967;
}

.step:last-child {
  margin-bottom: 80px;
}

.step-circ {
  min-width: 64px;
  height: 64px;
  display: flex;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  position: relative;
  margin-right: 32px;
  background: #FF6A00;
}

.step:not(:last-child) .step-circ:after {
  content: '';
  position: absolute;
  top: 64px;
  left: 50%;
  width: 2px;
  height: 120%;
  background-color: #FF6A00;
}

.step-num {
  margin: auto;
  color: #fff;
  font-weight: 500;
  font-size: 32px;
}

.step-info {
  font-size: 20px;
  line-height: 32px;
}

.step-title {
  font-family: MontserratB;
}

/* ======================== */

.course-feedback {
  margin-bottom: 80px;
}

.feedback-block {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.feedback-block:last-child {
  margin-bottom: 0;
}

.feedback-photo {
  width: 96px;
  height: 96px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  background-color: #ccc;
}

.feedback {
  margin-left: 24px;
  max-width: 80%;
}

.feedback-txt,
.feedback-author {
  font-size: 20px;
  line-height: 32px;
}

.feedback-author {
  font-family: MontserratB;
}

/* ======================== */

.course-sidebar {
  margin-left: 32px;
  box-shadow: 0px 4px 16px rgba(76, 89, 103, 0.16);
  border-radius: 8px;
  height: max-content;
}
@media (min-width: 768px) {
  .course-sidebar {
    flex-shrink: 0;
    max-width: 340px;
  }
}
.course-sb-header,
.course-sb-header-free {
  padding-bottom: 32px;
  font-family: MontserratB;
  font-size: 32px;
  line-height: 40px;
  color: #FFFFFF;
  padding: 32px;
  border-radius: 8px 8px 0 0;
  -webkit-border-radius: 8px 8px 0 0;
  -moz-border-radius: 8px 8px 0 0;
  -ms-border-radius: 8px 8px 0 0;
  -o-border-radius: 8px 8px 0 0;
}

.course-sb-header {
  background-color: #FF6A00;
}

.course-sb-header-free {
  background-color: #39B54A;
}

.course-sb-body {
  padding: 32px;
}

.course-sb-title {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 8px;
}

.course-sb-content {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 40px;
}

.course-sb-link {
  color: #2DB7D2;
  text-decoration: underline;
  display: block;
}

.course-sb-body .btn {
  width: 100%;
  margin-bottom: 32px;
}

.course-sb-body .btn:last-child {
  margin-bottom: 0;
}

/* ======================== */

.recommended {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.recommended .course {
  width: 30%;
  flex-direction: column;
}

.recommended .course-img {
  width: 100%;
}

.recommended .course-info {
  width: 100%;
}

.recommended .course-details {
  flex-direction: column-reverse;
  align-items: flex-start;
}

.recommended .course-status {
  margin-left: 0;
  margin-bottom: 16px;
}

/* TEMP */

.temp-img {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.temp0 {
  background-image: url(../src/img/temp_course0.png);
}

.temp1 {
  background-image: url(../src/img/temp_course1.png);
}

.temp2 {
  background-image: url(../src/img/temp_course2.png);
}

.temp3 {
  background-image: url(../src/img/temp_course3.png);
}