.feedback-form {
  padding: 96px;
  border: 2px solid transparent;
  border-radius: 16px;
  width: 100%;
}

form .btn {
  min-width: 256px;
}

.f-f_orange {
  border: 2px solid #FF6A00;
}

.f-f_green {
  border: 2px solid #39B54A;
}

.form-title {
  font-family: MontserratB;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 40px;
}

.form-subtitle {
  font-family: MontserratB;
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 32px;
}

.form-dscr {
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 40px;
}

.form-input-label {
  display: block;
  margin-bottom: 32px;
}

.form-input-label p {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 8px;
}

.feedback-form .textarea-wrapper {
  height: 256px;
}

.form-btn-row {
  display: flex;
}

.form-btn-row label {
  margin-left: 24px;
}

.form-btn-col label {
  margin-bottom: 24px;
}

.fileBtnLabel {
  display: block;
}

.inputError {
  position: relative;
}

.inputError input {
  border: 1px solid #FF6A00;  
}

.inputError:after {
  position: absolute;
  top: 70px;
  left: 0;
  display: block;
  content: 'Не заполнено обязательное поле';
  font-size: 14px;
  line-height: 16px;
  color: #FF6A00;
}

#phoneInput:after {
  content: 'Некорректный формат номера';
}

input[type=file] {
  display: block;
  display: none;
  width: 100%;
}

.form-list {
  margin-bottom: 40px;
}

.form-list-item {
  font-size: 20px;
  line-height: 32px;
  color: #4C5967;
  margin-bottom: 40px;
  position: relative;
  padding-left: 32px;
}

.form-list-item:after {
  position: absolute;
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  background-color: #FF6A00;
  top: 40%;
  left: 0;
}

.form-rate-block {
  margin-bottom: 40px;
}

.form-rate-title {
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 16px;
  color: #4C5967;
}

.form-stars-row {
  display: flex;
  align-items: center;
}

.form-star {
  width: 40px;
  height: 40px;
  margin-right: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../src/img/form-star-grey.svg);
}

.form-star:last-child {
  margin-right: 0;
}

.form-star-fill {
  background-image: url(../src/img/form-star-orange.svg);
}