.step-progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.step-progress .step-progress__item {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  position: relative;
}
.step-progress .step-progress__item:last-child {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}
.step-progress .step-progress__itemlast-child:after {
  content: none;
}
.step-progress .step-progress__item:after {
  content: "";
  display: block;
  height: 4px;
  width: calc(100% - 24px);
  position: absolute;
  left: 24px;
  top: 10px;
}
.step-progress .step-progress__item.step-progress__item_previous:after {
  background: #39B54A;
}
.step-progress .step-progress__item.step-progress__item_previous:before {
  border-color: #39B54A;
  background: url("../src/img/step-previous-icon.svg") no-repeat 3px 5px;
}
.step-progress .step-progress__item.step-progress__item_current:before {
  border-color: #39B54A;
}
.step-progress .step-progress__item.step-progress__item_current:after {
  background: #C7CCD1;
}
.step-progress .step-progress__item.step-progress__item_next:after {
  background: #C7CCD1;
}
.step-progress .step-progress__item:before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  border: 3px solid #C7CCD1;
  border-radius: 100%;
}

.personal-payment-wrapper .btn {
  width: 100%;
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .personal-payment-wrapper {
    width: 576px;
  }
  .personal-payment-wrapper .btn {
    width: 448px;
  }
  .personal-payment-wrapper .offer {
    width: 448px;
  }
}
.personal-payment-wrapper .payment-icon-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 42px;
}
.personal-payment-wrapper .text-sub {
  margin-bottom: 26px;
}
.personal-payment-wrapper .offer {
  color: #4C5967;
  line-height: 32px;
  font-size: 18px;
  font-family: MontserratSB;
}
.personal-payment-wrapper .offer a {
  color: #0177FF;
  text-decoration: underline;
}

.card-payment {
  position: relative;
}
@media (min-width: 768px) {
  .card-payment {
    padding-bottom: 64px;
  }
}
.card-payment .card-payment__item {
  border-radius: 16px;
  padding: 80px 24px 24px 24px;
}
@media (min-width: 768px) {
  .card-payment .card-payment__item {
    width: 410px;
  }
}
@media (min-width: 1023px) {
  .card-payment .card-payment__item {
    width: 448px;
  }
}
.card-payment .card-payment__item_front {
  background: #0177FF;
  margin-bottom: 24px;
  position: relative;
  z-index: 9;
}
.card-payment .card-payment__item_back {
  background: #0DC474;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  padding: 124px 16px 16px 16px;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .card-payment .card-payment__item_back {
    position: absolute;
    top: 64px;
    left: 128px;
  }
}
.card-payment .card-payment__item_back .black-line {
  width: 100%;
  height: 48px;
  background: #363636;
  position: absolute;
  left: 0;
  top: 24px;
}
.card-payment .input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px;
}
.card-payment .input-wrapper:last-child {
  margin-bottom: 0;
}
.card-payment .input-wrapper input {
  width: 100%;
}
.card-payment input[type=text], .card-payment input[type=number], .card-payment select {
  padding: 12px 16px;
  border: 1px solid #C7CCD1;
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;
  color: #8A99A8;
  font-family: MontserratM;
  background: white;
}
.card-payment select {
  width: 88px;
}
.card-payment option {
  background: white;
}
.card-payment span {
  color: white;
  display: inline-block;
  margin: 0 8px;
}
.card-payment .valid-text {
  font-family: MontserratM;
  font-size: 14px;
  line-height: 16px;
  color: white;
  display: inline-block;
  width: 44px;
  margin: 0 16px 0 0;
  opacity: 0.5;
}
.card-payment .cvv {
  width: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.card-payment .cvv p {
  font-size: 14px;
  line-height: 16px;
  color: white;
  font-family: MontserratM;
}
.card-payment .cvv .top {
  text-align: center;
  margin-bottom: 8px;
}
.card-payment .cvv .bottom {
  text-align: right;
}
@media (min-width: 769px) {
  .card-payment .cvv .bottom {
    width: 112px;
  }
}
.card-payment .cvv .input-wrapper {
  width: 80px;
  display: block;
}

.text-general_mtmb {
  margin: 32px 0 40px 0;
}

.text-sub {
  font-family: MontserratM;
  font-size: 16px;
  line-height: 24px;
  color: #4C5967;
}