/***
* CAROUSEL
*/

.carousel-wrap {
  padding: 134px 0 36px 0;
}

.carousel {
  height: 520px;
  width: 100%;
  background-image: url('../src/img/epithets.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 36px;
}

.carousel-steps {
  margin-top: 36px;
  display: flex;
  align-items: center;
}

.carousel-step {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  margin-right: 16px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  background-color: #C7CCD1;
}

.carousel-step:hover {
  cursor: pointer;
}

.carousel-step:last-child {
  margin-left: 0;
}

.carousel-step_active {
  background-color: #FF6A00;
}

/***
  *   NEW HEADER BLOCK
  */

.headerblock-wrap {
  padding: 134px 64px 36px;
  display: flex;
}

.headerblock {
  position: relative;
  height: 720px;
  width: 100%;
  max-width: 1400px;
  margin: auto;
}

.headerblock-logo,
.headerblock-life-health,
.headerblock-energy,
.headerblock-art,
.headerblock-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerblock-logo {
  top: 35%;
  left: 0;
}

.headerblock-life-health {
  top: 5%;
  right: 15%;
}

.headerblock-energy {
  top: 50%;
  right: 0;
  flex-direction: row-reverse;
}

.headerblock-art {
  bottom: 5%;
  right: 20%;
}

.headerblock-btn {
  top: 55%;
  left: 0;
}

.hb-pic {
  border: 1px solid transparent;
  position: relative;
  z-index: 600;
}

.hb-pic,
.hb-txt {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.headerblock-life-health .hb-pic:before {
  content: '';
  position: absolute;
  bottom: 16px;
  right: 16px;
  width: 100%;
  height: 100%;  
  border-radius: 48px;
  z-index: 0;
  -webkit-border-radius: 48px;
  -moz-border-radius: 48px;
  -ms-border-radius: 48px;
  -o-border-radius: 48px;
  background-image: url(../src/img/hbpic-life.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.headerblock-energy .hb-pic:after {
  content: '';
  position: absolute;
  bottom: 16px;
  right: 16px;
  width: 100%;
  height: 100%;
  border-radius: 32px;
  z-index: 0;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
  background-image: url(../src/img/hbpic-energy.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.headerblock-art .hb-pic:after {
  content: '';
  position: absolute;
  top: 16px;
  right: 16px;
  width: 100%;
  height: 100%;
  border-radius: 200px;
  z-index: 0;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -ms-border-radius: 200px;
  -o-border-radius: 200px;
  background-image: url(../src/img/hbpic-art.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.headerblock-logo .hb-txt {
  background-image: url(../src/img/hb-logo.svg);
  max-width: 500px;
  width: calc(100vw * .42);
  max-height: 120px;
  height: calc(100vw * .09);
}

.headerblock-life-health .hb-pic {
  border: 1px solid #39B54A;
  min-width: 170px;
  max-width: 240px;
  width: calc(100vw * .18);
  min-height: 198px;
  max-height: 280px;
  height: calc(100vw * .21);
  margin-right: 24px;
  border-radius: 48px;
  -webkit-border-radius: 48px;
  -moz-border-radius: 48px;
  -ms-border-radius: 48px;
  -o-border-radius: 48px;
}

.headerblock-life-health .hb-txt {
  background-image: url(../src/img/hb-life.svg);
  min-width: 185px;
  max-width: 250px;
  width: calc(100vw * .19);
  min-height: 64px;
  max-height: 90px;
  height: calc(100vw * .06);
}

.headerblock-energy .hb-pic {
  border: 1px solid #FF6A00;
  min-width: 170px;
  max-width: 200px;
  width: calc(100vw * .15);
  min-height: 120px;
  max-height: 150px;
  height: calc(100vw * .11);
  border-radius: 32px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
}

.headerblock-energy .hb-txt {
  background-image: url(../src/img/hb-energy.svg);
  min-width: 250px;
  max-width: 320px;
  width: calc(100vw * .24);
  min-height: 70px;
  max-height: 90px;
  height: calc(100vw * .06);
  margin-right: 36px;
}

.headerblock-art .hb-pic {
  border: 1px solid #2DB7D2;
  max-width: 400px;
  width: calc(100vw * .3);
  min-height: 100px;
  max-height: 160px;
  height: calc(100vw * .12);
  margin-right: 24px;
  border-radius: 200px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -ms-border-radius: 200px;
  -o-border-radius: 200px;
}

.headerblock-art .hb-txt {
  background-image: url(../src/img/hb-art.svg);
  min-width: 330px;
  max-width: 430px;
  width: calc(100vw * .33);
  min-height: 70px;
  max-height: 100px;
  height: calc(100vw * .07);
}

/***
  * ABOUT
  */

.about_block {
  background-color: #39B54A;
  padding: 120px 0;
}

.about_block .container {
  max-width: 930px;
}

.about_block-dscr {
  margin-bottom: 32px;
}

.about_slogan {
  font-family: MontserratEB;
  font-size: 50px;
  line-height: 54px;
  text-align: center;
  /*margin: 0 auto 30px;*/
  color: #fff;
}

.about-img {
  background-image: url(../src/img/about_project.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 600px;
  margin-bottom: 80px;
}

/***
  * COURSES, TEACHERS, CONTESTS, NEWS, RATES, CONTACTS
  */

.courses,
.teachers,
.contests,
.success,
.news,
.rates,
.contacts {
  padding: 120px 0;
}

.teachers,
.success {
  background-color: #39B54A;
  position: relative;
}


@media (min-width: 768px) {
  .teachers:before,
  .success:before,
  .about_block:before {
    content: '';
    background: url("../src/img/runa.png") no-repeat center;
    background-size: 100%;
    position: absolute;
    right: 0;
    width: 160px;
    height: 320px;
    top: -160px;
  }

  .teachers:after,
  .success:after,
  .about_block:after {
    content: '';
    background: url("../src/img/runa.png") no-repeat center;
    background-size: 100%;
    position: absolute;
    right: 0;
    width: 160px;
    height: 320px;
    top: calc(100% - 160px);
  }
}
@media (min-width: 1024px) {
  .teachers:before,
  .success:before,
  .about_block:before {
    width: 248px;
    height: 496px;
    top: -248px;
  }
  .teachers:after,
  .success:after,
  .about_block:after {
    width: 248px;
    height: 496px;
    top: calc(100% - 248px);
  }
}
@media (min-width: 1440px) {
  .teachers:before,
  .success:before,
  .about_block:before {
    top: -320px;
    width: 320px;
    height: 640px;
  }
  .teachers:after,
  .success:after,
  .about_block:after {
    width: 320px;
    height: 640px;
    top: calc(100% - 320px);
  }
}
.about_block .container,
.courses .container,
.teachers .container,
.contests .container,
.news .container,
.rates .container,
.contacts .container,
.success .container,
.partners .container {
  align-items: flex-start;
}

.rates {
  background-color: #627384;
}

.courses-wrap,
.teachers-wrap,
.news-wrap,
.rates-wrap,
.contacts-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.rates-wrap,
.contacts-wrap {
  width: 100%;
}

.rates-block {
  width: 32%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 24px;
  box-shadow: 0px 4px 16px rgba(76, 89, 103, 0.16);
  border-radius: 8px;
}

.contest-info,
.success-info,
.success-video-wrap {
  width: 48%;  
}
.success-wrap {
  width: 100%;
}
.success-video-wrap {
  /*height: 400px;*/


}

.youtube-video-container {
  width: 100%;
  padding-bottom: 54.4%;
  position: relative;
}
.success-video-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contest-dscr {
  margin-bottom: 40px;
}

.course-info-lessons {
  position: relative;
  color: rgb(126, 126, 126);
}

/* .course-info-lessons:before {
  content: '';
  display: block;
  position: absolute;
  top: 6px;
  left: -10px;
  background-color: rgb(126, 126, 126);
  width: 4px;
  height: 4px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
} */

.news-date {
  color: #627384;
  font-size: 18px;
  line-height: 32px;
}

.courses .btn,
.teachers .btn,
.contests .btn,
.news .btn {
  margin: 0 auto;
}

/***
  * QUESTION
  */

.question {
  padding: 80px 0;
}

.question-wrap {
  border: 2px solid #FF6A00;  
  border-radius: 16px;
  padding: 9%;
  display: flex;
  align-items: center;
}

.questions-dscr {
  max-width: 70%;
}

.questions-dscr h2 {
  font-family: MontserratEB;
}

.questions-item {
  margin-bottom: 36px;
}

.questions-item:last-child {
  margin-bottom: 0;
}

.question-img {
  width: 304px;
  height: 400px;
  background-image: url(../src/img/que.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/***
  * RATES
  */

.rates-block-top {
  margin-bottom: 64px;
  text-align: center;
  font-family: MontserratB;
}

.rates-block-top span {
  font-family: MontserratEB;
}

.rates-block .btn {
  margin-top: auto;
}

.rates-block-dscr p {
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 16px;
  color: #4C5967;
}

.rates-block-dscr p:last-child {
  margin-bottom: 64px;
}

/***
  * RATES-COLOR
  */

.rates-blue .rates-block-top {
  color: #2DB7D2;
}

.rates-green .rates-block-top {
  color: #39B54A;
}

.rates-orange .rates-block-top {
  color: #FF6A00;
}

.rates-blue .btn {
  background-color: #2DB7D2;
  color: #fff;
}

.rates-blue .btn:hover {
  background-color: #fff;
  color: #2DB7D2;
  border: 1px solid #2DB7D2;
}

.rates-green .btn {
  background-color: #39B54A;
  color: #fff;
}

.rates-green .btn:hover {
  background-color: #fff;
  color: #39B54A;
  border: 1px solid #39B54A;
}

.rates-orange .btn {
  background-color: #FF6A00;
  color: #fff;
}

.rates-orange .btn:hover {
  background-color: #fff;
  color: #FF6A00;
  border: 1px solid #FF6A00;
}

/***
  * PARTNERS
  */

.partners {
  padding: 40px 0;
}

.partners-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.partners-wrap .h2-title {
  margin-bottom: 0;
}

.partner-logo {
  width: 345px;
  height: 64px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
}

.synergy-logo {
  background-image: url(../src/img/synergy_corp_logo.svg);
}

/***
  * CONTACTS
  */

.contacts-map {
  width: 65%;
  height: 440px;  
}

.contacts-info {
  width: 32%;
  font-size: 20px;
  line-height: 32px;
  color: #4C5967;
}

.contacts-info-title {
  font-family: MontserratB;
  margin-bottom: 8px;
}

.contacts-info-txt {
  margin-bottom: 42px;
}

.contacts-info-social {
  display: flex;
  width: 268px;
  max-width: 100%;
  margin-bottom: 40px;
  justify-content: space-between;
}

.social-icon {
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  width: 64px;
  height: 64px;
  border-radius: 100%;  
  /*margin-right: 32px;*/
  background-size: contain;
}

.social-icon:last-child {
  margin-right: 0;
}

.fcbk {
  background-image: url(../src/img/fcbk.svg);
}

.inst {
  background-image: url(../src/img/inst.svg);
}

.odnk {
  background-image: url(../src/img/odnk.svg);
}

/***
  * BCG-RECTS
  */

.about_block,
.teachers,
.rates,
.success {
  position: relative;
}

.bckg-rect {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 20%;
  height: 100%;
}

.bckg-rect-r {
  background-image: url(../src/img/bckg-rect-r.svg);
  top: 0;
  right: 0;
  background-size: 100%;
  background-position: right 40%;
}

.bckg-rect-l {
  background-image: url(../src/img/bckg-rect-l.svg);
  bottom: 0;
  left: 0;
  background-size: 100%;
  background-position: left 100%;
}

/***
  * FOOTER
  */

.footer {
  background-color: #627384;
  padding: 32px 0;    
}

.footer .container {
  align-items: flex-start;
}

.footer * {
  color: #fff;
  line-height: 24px;
}

.footer-flex {
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.footer-half {
  width: 48%;
  display: flex;
  flex-direction: column;
}

.footer-half:nth-child(2) {
  align-items: flex-end;
}

.footer-row {
  /*display: flex;*/
  /*align-items: center;  */
  margin-bottom: 16px;
}
.footer-row p {
  margin-bottom: 6px;
}
.footer-item {
  display: block;
  margin-bottom: 16px;
}

.footer-phonenum {
  font-weight: 600;
  margin-right: 24px;
}

.footer-social {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.footer-social-icon {
  height: 24px;
  width: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 20px;
  display: block;
}

.footer-social-icon:last-child {
  margin-right: 0;
}

.fcbk-ico-white {
  background-image: url(../src/img/fcbk-w.svg);
}

.inst-ico-white {
  background-image: url(../src/img/inst-w.svg);
}

.ok-ico-white {
  background-image: url(../src/img/ok-w.svg);
}

.main-list {
  list-style: disc;
  padding-left: 20px;
}
.main-list li {
  margin-bottom: 6px;
}
.about_block .main-list {
  margin-bottom: 30px;
}
