@import "./bootstrap.min.css";
@import "./reset.css";
@import "./styles.css"; /* общие стили */
@import "./index.css"; /* главная */
@import "./courses.css"; /* курсы */
@import "./course_page.css"; /* страница курса */
@import "teachers.css"; /* преподаватели */
@import "auth.css"; /* логин/авторизация */
@import "teacher_page.css"; /* страница препода */
@import "news.css"; /* новости, страница новости*/
@import "form.css"; /* формы */
@import "contests.css"; /* конкурсы */
@import "modal.css"; /* modal */
@import "personal.css"; /* личный кабинет */
@import "questions.css"; /* страница вопросы */
@import "contest_registration.css"; /* страница регистрации на конкурс */
@import "select_box.css"; /* подбиратор */
@import "payment_status_modal.css"; /* модаль успеха */
@import "form_payment.css"; /*форма ввода данных для оплаты*/
@import "contest_page.css"; /*Страница конкурса*/
@import "contest_work.css"; /*Детальная страница работы*/
@font-face {
  font-family: Montserrat;
  src: url(../src/fonts/Montserrat-Regular.ttf);
} 

@font-face {
  font-family: MontserratEB;
  src: url(../src/fonts/Montserrat-ExtraBold.ttf);
} 

@font-face {
  font-family: MontserratB;
  src: url(../src/fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: MontserratM;
  src: url(../src/fonts/Montserrat-Medium.ttf);
}
@font-face {
  font-family: MontserratSB;
  src: url(../src/fonts/Montserrat-SemiBold.ttf);
}
/* ADAPTIVE */

/* === === === === === === === === === === === === === === === === === === === === === === === === === === === === === === === === === === === === === === */


@media (max-width: 1250px) {
  .headerblock-life-health {
    right: 5%;
  }

  .header .header-navbar {        
    display: none;
  }

  .fullscreen-btn {        
    display: none;
  }

  .header-burger {
    display: block;
  }

  .about-block .container,
  .rates .container {
    z-index: 900;
    position: relative;
  }

  .modal-wrap {
    max-width: 60%;
  }

  .contests-wrap .block-img {
    width: 48%;
  }
}

@media (max-width: 1180px) {
  .headerblock-life-health {
    right: 0;
  }

  .container {
    padding: 0 48px;
  }

  .contests .block-img {
    width: 48%;
  }
}

@media (max-width: 1120px) {
  .course-header .container,
  .contest-header .container {
    max-width: 100%;
  }
}

@media (max-width: 1100px) {
  .headerblock-art {
    right: 15%;
  }

  .headerblock-btn {
    top: 50%;
  }

  .partners-wrap {
    display: block;
  }

  .partners-wrap .h2-title {
    margin-bottom: 40px;
  }

  .contacts-wrap {
    flex-direction: column;
  }
  
  .contacts-map {
    margin-bottom: 32px;
    width: 100%;
  }

  .contacts-info {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .headerblock-wrap {
    padding: 134px 48px 36px;
  }
}

@media (max-width: 1000px) {
  .courses-wrapper .courses-filterbar {
    display: none;
  }

  .btn-courses-filter {
    display: flex;
  }

  .courses-list {
    max-width: 100%;
  }

  .contest-body {
    max-width: 100%;
  }
}

@media (max-width: 980px) {
  .container {    
    z-index: 900;
    position: relative;
    padding: 0 26px;
  }
    
  .modal-wrap {
    max-width: 70%;
  }

  .teachers-topline .teachers-search-input {
    width: 70%;
  }

  .modal-wrap {
    max-width: 90%;
  }

  .step-circ {
    margin-right: 8px;
  }
}

@media (max-width: 860px) {
  .about-img {
    margin: 1em 0;
  }

  .feedback-form {
    padding: 46px;
  }

  .contests-wrap .block-1_1 {
    align-items: flex-start;
  }

  .success .block-1_1 {
    flex-direction: column;
  }

  .success-wrap .block-1_1 .block-img {
    width: 100%;
  }
  
  .success .contest-info {
    width: 100%;
  }

  .success-info,
  .success-video-wrap {
    width: 100%;  
  }

  .success-video-wrap {
    margin-bottom: 24px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 24px;
  }

  .headerblock-logo {
    top: 0;
  }

  .headerblock-wrap {
    padding: 134px 24px 36px;
  }

  .headerblock-life-health {
    top: 20%;
  }

  .headerblock-energy {
    top: 55%;
  }

  .headerblock-logo .hb-txt {
    width: calc(100vw * .72);
    height: calc(100vw * .14);
  }

  .headerblock-btn {
    top: 20%;
  }

  .course-details {    
    align-items: flex-start;
    flex-direction: column;
  }

  .course-status {
    margin-left: 0;
  }

  .course-img {
    width: 50%;
  }

  .course-info {
    width: 46%;
  }

  .course-price {
    margin-bottom: 12px;
  }

  .header-dscr {
    max-width: 100%;
  }

  .cont-row {
    flex-direction: column-reverse;
  }

  .course-body {
    max-width: 100%;
  }

  .course-sidebar {
    margin-left: 0;
  }

  .video-wrap {
    margin: 20px 0;
    height: calc(100vw * 9 / 16);
  }

  .teacher-list-block {
    max-width: 48%;
  }

  .news-list .block-1_1,
  .news-list .block-1_2,
  .news-list .block-1_3 {
    width: 49%;
  }

  .question-wrap {
    padding: 5%;
  }
}

@media (max-width: 720px) {
  .footer .container,
  .footer .header-navbar {
    flex-direction: column;
  }

  .footer .header-navbar {
    align-items: flex-start;
  }

  .footer .navbar--item {
    margin: 0 0 16px;
  }

  .footer-flex {
    flex-direction: column;
    margin-top: 16px;
  }

  .footer-half {
    width: 100%;
  }

  .footer-half:nth-child(2) {
    align-items: flex-start;
  }
}

@media (max-width: 700px) {
  .courses-list {
    display: flex;
    flex-wrap: wrap;    
    justify-content: space-between;
  }

  .headerblock-wrap {
    height: 960px;
  }

  .headerblock-life-health {
    right: auto;
    left: 5%;
  }

  .headerblock-energy {
    top: 50%;
  }

  .headerblock-art {
    right: auto;
  }

  .headerblock-art {
    top: 60%;
  }

  .headerblock-art {
    left: 5%;
  }

  .headerblock-btn {
    top: 90%;
  }
  
  .course {
    flex-direction: column;
    width: 48%;
  }

  .course-img,
  .course-info {
    width: 100%;
  }

  .course-price {
    font-size: 14px;
    line-height: 28px;
  }

  .course-status {
    font-size: 16px;
    line-height: 28px;
  }

  .contests-wrap .block-1_1 {
    flex-direction: column;
  }

  .contests-wrap .block-img,
  .contests-wrap .contest-info {
    width: 100%;
  }

  .teachers-wrap .block-1_3 {
    width: 48%;
  }
}

@media (max-width: 680px) {
  .teachers-topline .teachers-search-input {
    width: 60%;
  }

  .question-img {
    display: none;
  }

  .questions-dscr {
    max-width: 100%;
  }
}

@media (max-width: 600px) {
  .about_block .container,
  .courses .container,
  .teachers .container,
  .contests .container,
  .news .container,
  .rates .container,
  .contacts .container,
  .success .container,
  .partners .container {
    align-items: center;
}

  .courses-wrap,
  .teachers-wrap,
  .success-wrap,
  .contests-wrap,
  .news-wrap,
  .rates-wrap,
  .teacher-pg-courses,
  .course-content .recommended {
    display: none;
  }

  .ant-carousel {
    display: block;
  }

  .ant-carousel .block-img,
  .ant-carousel .contest-info,
  .ant-carousel .course {
    width: 100%;
  }

  .ant-carousel .block-1_1 .btn {
    width: 100%;
  }

  .ant-carousel .rates-block {
    width: 90%;
    margin: 0 auto;
  }

  .rates .ant-carousel-dots {
    margin-top: 24px;
  }
}

@media (max-width: 560px) {

  .headerblock-art .hb-pic {
    width: 100px;
    height: 100px;
  }

  .headerblock-art .hb-pic:after {
    background-position: left;
    background-size: cover;
  }

  .teacher-list-block {
    max-width: 100%;
  }

  .h2-title {
    font-size: 46px;
    line-height: 54px;
  }

  .news-list .block-1_1,
  .news-list .block-1_2,
  .news-list .block-1_3 {
    width: 100%;
  }
}

@media (max-width: 530px) {
  .teachers-search-wrap button {
    display: none;
  }

  .about-img {
    height: 340px;
    max-height: 100vw;
  }
}

@media (max-width: 500px) {
  .headerblock-wrap {
    padding: 134px 12px 36px;
  }

  .headerblock {
    height: 100%;
  }

  .headerblock-logo {
    width: 100%;
  }

  .headerblock-logo .hb-txt {
    width: 100%;
    height: 100px;
  }

  .headerblock-life-health .hb-pic {
    width: 128px;
    height: 150px;
  }

  .course {
    width: 100%;
  }

  .burger-menu,
  .filter-menu {
    width: 100%;
  }
}

@media (max-width: 460px) {
  .h2-title {
    font-size: 36px;
    line-height: 44px;
  }
     
  .headerblock-art .hb-txt {
    min-width: 250px;
  }

  .headerblock-energy .hb-txt {
    min-width: 170px;
  }

  .headerblock-life-health .hb-txt {
    min-width: 155px;
  }

  .input-wrapper-50 {
    width: 100%;
  }

  .btn-filter-txt {
    display: none;
  }

  .video-js {
    height: 340px;
  }

  .news-story-title,
  .header-info .header-title {
    font-size: 46px;
  }
}

@media (max-width: 440px) {
  .header-logo {
    width: 180px;
    height: 50px;
  }

  .span-filter-item {
    font-size: 14px;
    line-height: 24px;
  }
}

@media (max-width: 414px) {
  .modal-wrap {
    margin: 0 auto;
  }

  .modal-back {
    height: 110vh;
    width: 100%;
  }

  .modal-wrap .form-dscr {
    font-size: 16px;
  }

  .about_slogan {
    font-size: 40px;
  }

  .header-title {
    font-size: 46px;
    line-height: 44px;
  }

  .partner-logo {
    width: 100%;
  }
}

@media (max-width: 380px) {
  .container {
    padding: 0 16px;
  }

  .auth-cont {
    width: 95%;
  }

  .auth-title {
    font-size: 24px;
    line-height: 32px;
    text-align: center;
  }

  .footer-row {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-phonenum {
    margin-bottom: 16px;
  }
}

@media (max-width: 375px) {
  .headerblock-life-health .hb-txt {
    width: 135px;
    min-width: 135px;
  }

  .headerblock-art .hb-txt {
    min-width: 200px;
  }

  .headerblock-energy .hb-txt {
    min-width: 130px;
  }
}

@media (max-width: 320px) {
  .auth-footer {
    flex-direction: column;
  }

  .auth-cont form .btn {
    margin-top: 20px;
  }
}
video {
  max-width: 100%;
}

