.modal-back {
  height: 100vh;
  width: 100%;  
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(1, 1, 1, .5);
  transition: all .2s ease-in-out;
  display: none;
}

.modal-wrap {
  background: #FFFFFF;
  box-shadow: 0px 4px 16px rgba(76, 89, 103, 0.16);
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  margin: auto;
  position: relative;
  max-width: 40%;
  padding: 32px;
}

.modal-close {
  position: absolute;
  top: 32px;
  right: 32px;
  width: 16px;
  height: 16px;
  background-image: url(../src/img/modal_close.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.modal-close:hover {
  cursor: pointer;
}

.modal-wrap .textarea-wrapper {
  height: 80px;
}

.modal-wrap .form-dscr {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 22px;
}

.modal-wrap .form-input-label {
  margin-bottom: 22px;
}