.news-wrapper {
  padding: 80px 0;
}

.news-wrapper .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.news-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.news-story-title {
  font-family: MontserratEB;
  font-size: 56px;
  line-height: 64px;
  color: #FFFFFF;
  margin-bottom: 16px;
  margin-top: 30%;
}

.news-story-wrap p {
  font-size: 20px;
  line-height: 32px;
  color: #4C5967;
  margin-bottom: 36px;
  max-width: 720px;
}

.news-story-wrap p:last-child {
  margin-bottom: 0;
}

.recommended-news {
  display: flex;
  flex-direction: column;
  align-items: center;
}