.modal-overlay {
  display: none;
  padding-top: 30px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999999999;
  overflow-y: scroll;
  background: rgba(76, 89, 103, 0.8);
}

.payment-status-modal .modal-close {
  top: 12px;
  right: 12px;
}
@media (min-width: 768px) {
  .payment-status-modal .modal-close {
    top: 24px;
    right: 24px;
    margin: auto;
  }
}
@media (min-width: 1024px) {
  .payment-status-modal .modal-close {
    left: 0;
    right: 0;
    margin: auto;
  }
}
.payment-status-modal .modal-wrap {
  width: 100%;
  padding: 16px;
  top: -200px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
@media (min-width: 768px) {
  .payment-status-modal .modal-wrap {
    padding: 96px;
  }
}
.payment-status-modal .modal-wrap .modal-wrap__img {
  padding: 24px 0 40px 0;
}
@media (min-width: 768px) {
  .payment-status-modal .modal-wrap .modal-wrap__img {
    padding: 0 0 48px 0;
  }
}
.payment-status-modal .modal-wrap .modal-wrap__img img {
  max-width: 100%;
  width: 160px;
}
@media (min-width: 768px) {
  .payment-status-modal .modal-wrap .modal-wrap__img img {
    width: 200px;
  }
}
.payment-status-modal .modal-wrap .form-message {
  color: #262626;
  font-family: MontserratB;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 24px;
  text-align: center;
}
.payment-status-modal .modal-wrap .form-text {
  color: #8A99A8;
  font-size: 18px;
  line-height: 32px;
  font-family: MontserratM;
  text-align: center;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .payment-status-modal .modal-wrap .form-text {
    margin-bottom: 48px;
    font-size: 20px;
    line-height: 32px;
  }
}
.payment-status-modal .modal-wrap .btn-orange-border {
  margin-top: 24px;
}
@media (min-width: 1024px) {
  .payment-status-modal .modal-wrap {
    max-width: 712px;
  }
}
.payment-status-modal .modal-wrap form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}