.mobile-hidden {
  display: none;
}

.input-wrapper-56 {
  width: 56.8%;
}

@media (min-width: 1250px) {
  .desktop-hidden {
    display: none;
  }

  .mobile-hidden {
    display: block;
  }
}
.personal-menu .personal-menu__item {
  margin-bottom: 32px;
}
.personal-menu .personal-menu__item a.active {
  color: #FF6A00;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-decoration: underline;
}
.personal-menu a {
  color: #627384;
  font-family: MontserratM;
  font-size: 18px;
}
.personal-menu a:hover {
  color: #FF6A00;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-decoration: underline;
}

.header__personal-menu {
  display: none;
  background: white;
  -webkit-box-shadow: 0px 4px 16px 0px #515B6A29;
          box-shadow: 0px 4px 16px 0px #515B6A29;
  position: fixed;
  z-index: 999;
  top: 98px;
  right: 0;
}
.header__personal-menu .personal-menu__items {
  padding: 0 32px;
}
.header__personal-menu .personal-menu__bottom {
  border-top: 1px solid #C7CCD1;
  padding: 32px;
}
.header__personal-menu .personal-menu__head {
  font-family: MontserratB;
  margin-bottom: 32px;
  padding: 32px 32px 0 32px;
}
@media (min-width: 768px) {
  .header__personal-menu {
    width: 344px;
    top: 122px;
    right: 24px;
    border-radius: 8px;
  }
}

.personal-body__personal-menu {
  -ms-flex-preferred-size: 26.2%;
      flex-basis: 26.2%;
  padding-right: 20px;
}

.account .account__item {
  margin-left: 20px;
}

@media (max-width: 1250px) {
  .header__account {
    padding-right: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.personal-wrapper {
  padding: 128px 0 64px;
}
@media (min-width: 768px) {
  .personal-wrapper {
    padding: 168px 0 80px;
  }
}
.personal-wrapper .container {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.personal-wrapper .course {
  width: 100%;
}
.personal-wrapper .course-details .btn {
  width: 100%;
}
@media (min-width: 768px) {
  .personal-wrapper .course-details .btn {
    width: auto;
  }
}

.personal-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
@media (min-width: 1250px) {
  .personal-body .personal__courses-list, .personal-body .personal__content {
    -ms-flex-preferred-size: 73.8%;
        flex-basis: 73.8%;
  }
}

.profile {
  -ms-flex-preferred-size: 352px;
      flex-basis: 352px;
  max-width: 100%;
}
.profile .btn {
  width: 100%;
}
.profile textarea {
  line-height: 24px;
}
.profile .profile__link {
  font-family: MontserratSB;
  color: #FF6A00;
  cursor: pointer;
  margin-bottom: 32px;
  display: block;
}

.profile__password-btn {
  margin-bottom: 32px;
}

.change-password {
  display: none;
}

.photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F1F2F4;
}
.photo img {
  max-width: 100%;
}
.photo .photo__plug {
  margin: 72px 0 38px 0;
}
.photo .photo__file p {
  margin-bottom: 40px;
  cursor: pointer;
  color: #8A99A8;
  font-family: MontserratSB;
}

.profile__photo {
  margin-bottom: 32px;
}

.input-password {
  position: relative;
}
.input-password .input-password__icon {
  position: absolute;
  top: 11px;
  right: 12px;
  cursor: pointer;
}

.personal__teachers-search-wrap {
  margin-bottom: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.search-input__profile {
  min-width: 100%;
  margin-bottom: 24px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: auto;
}
@media (min-width: 768px) {
  .search-input__profile {
    padding-right: 24px;
    margin-bottom: 0;
    min-width: auto;
  }
}

.select-wrapper_profile {
  min-width: 100%;
}
@media (min-width: 768px) {
  .select-wrapper_profile {
    min-width: 184px;
    width: 20%;
  }
}

.input_select {
  background: white;
  padding: 13px 16px 14px 16px;
}

.course-details__progress {
  padding: 4px 16px;
  color: white;
  font-family: MontserratSB;
  border-radius: 34px;
}

.course-details__progress_low {
  background: #ABB2BA;
}

.course-details__progress_high {
  background: #39B54A;
}

@media (max-width: 768px) {
  .personal__span-filter-bar {
    width: 100%;
    overflow-y: scroll;
  }
  .personal__span-filter-bar .span-filter-item {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-bottom: 2px;
  }
}

.book-list__item {
  margin-bottom: 40px;
}

.book {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.book .book__image {
  margin-bottom: 12px;
  max-width: 160px;
}
.book .book__image img {
  max-width: 100%;
}
.book .book__name {
  margin-bottom: 16px;
  font-family: MontserratB;
}
.book .book__author {
  margin-bottom: 24px;
  font-family: MontserratM;
  color: #627384;
}
@media (min-width: 768px) {
  .book {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .book .book__image {
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .book .book__description {
    padding-left: 32px;
  }
}

.download-link {
  font-family: MontserratSB;
  color: #FF6A00;
  position: relative;
  padding-left: 30px;
}
.download-link:before {
  content: url("/src/img/personal/download-icon.svg");
  position: absolute;
  top: -2px;
  left: 0;
}
.download-link:hover {
  color: #FF6A00 !important;
}

.btn-orange-border {
  border: 1px solid #FF6A00;
  color: #FF6A00;
}
.btn-orange-border:hover {
  color: #FF6A00;
}

.text {
  font-family: MontserratM;
  color: #4C5967;
}

.book-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.book-detail .book-detail__text {
  margin-bottom: 40px;
}
.book-detail .book-detail__img {
  max-width: 368px;
  margin-bottom: 40px;
}
.book-detail .book-detail__btn {
  max-width: 368px;
  margin-bottom: 24px;
}
.book-detail .btn-orange-border {
  margin-bottom: 64px;
}
@media (min-width: 768px) {
  .book-detail {
    max-width: 768px;
  }
}

.btn-icon {
  padding-top: 7px;
}
.btn-icon img {
  position: relative;
  top: 4px;
}

.personal-partner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.personal-partner .personal-partner__partner-item {
  width: 100%;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .personal-partner .personal-partner__partner-item {
    width: 49%;
  }
}
@media (min-width: 1024px) {
  .personal-partner .personal-partner__partner-item {
    width: 32%;
  }
}

.partner-item {
  padding: 40px 30px;
  -webkit-box-shadow: 0px 4px 16px 0px #4C596729;
          box-shadow: 0px 4px 16px 0px #4C596729;
  border-radius: 8px;
  text-align: center;
  display: block;
}
.partner-item .partner-item__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 56px;
}
.partner-item .partner-item__img img {
  max-width: 100%;
}
.partner-item .head {
  margin-bottom: 8px;
  font-family: MontserratB;
  color: #4C5967;
}
.partner-item p {
  font-family: MontserratM;
  color: #627384;
}

.personal-support {
  width: 100%;
}

.chat {
  border-radius: 4px;
}
@media (min-width: 768px) {
  .chat {
    padding: 32px;
    border: 1px solid #C7CCD1;
  }
}

.personal__chat {
  margin-bottom: 24px;
}

.chat-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.chat-item .chat-item-wrapper {
  max-width: 92%;
}
@media (min-width: 768px) {
  .chat-item .chat-item-wrapper {
    max-width: 58.3%;
  }
}
.chat-item .chat-item__message {
  padding: 12px;
  margin-bottom: 8px;
}
@media (min-width: 768px) {
  .chat-item .chat-item__message {
    padding: 24px;
  }
}
.chat-item .chat-item__name, .chat-item .chat-item__time {
  color: #627384;
  font-size: 14px;
  line-height: 16px;
  font-family: MontserratM;
  margin-bottom: 16px;
}
.chat-item .chat-item__text {
  color: #262626;
  font-size: 16px;
  line-height: 24px;
  font-family: MontserratM;
}
.chat-item .chat-item__time {
  text-align: right;
}

.chat__message_outgoing {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.chat__message_outgoing .chat-item__message {
  background: #F1F2F4;
  border-radius: 8px 8px 0 8px;
}

.chat__message_incoming {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.chat__message_incoming .chat-item__message {
  background: #EBF9EE;
  border-radius: 8px 8px 8px 0;
}

.message-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.message-form .active-img {
  display: none;
}
.message-form.active .disabled-img {
  display: none;
}
.message-form.active .active-img {
  display: block;
}
.message-form .message-form__btn {
  min-width: auto;
  padding: 14px 16px 6px 16px;
  font-family: MontserratSB;
}
.message-form .message-form__btn p {
  display: none;
}
@media (min-width: 768px) {
  .message-form .message-form__btn {
    -ms-flex-preferred-size: 240px;
        flex-basis: 240px;
    min-width: 256px;
    padding: 11px 32px;
  }
  .message-form .message-form__btn p {
    display: block;
  }
  .message-form .message-form__btn img {
    display: none;
  }
}
.message-form .message-form__input {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding-right: 16px;
  position: relative;
}
@media (min-width: 768px) {
  .message-form .message-form__input {
    padding-right: 24px;
  }
}
.message-form .message-form__input .message-form__send-btn {
  position: absolute;
  top: 8px;
  right: 26px;
  background: none;
}
@media (min-width: 768px) {
  .message-form .message-form__input .message-form__send-btn {
    right: 36px;
  }
}
.message-form .message-form__input .input {
  padding: 14px 16px;
}

.subtitle {
  color: #262626;
  font-family: MontserratB;
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .subtitle {
    font-size: 24px;
  }
}

.personal__questions-list {
  margin-bottom: 80px;
}

.span-filter-item {
  line-height: 32px !important;
}

.course-program {
  width: 100%;
}
@media (min-width: 1024px) {
  .course-program {
    width: 65.5%;
  }
}

@media (min-width: 768px) {
  .course-chat {
    padding: 32px;
    border: 1px solid #C7CCD1;
    border-radius: 4px;
  }
}
@media (min-width: 1024px) {
  .course-chat {
    padding-right: 24%;
  }
}
@media (min-width: 1250px) {
  .course-chat {
    padding-right: 15%;
  }
}
.course-chat .course-chat__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 48px;
}
.course-chat .course-chat__item:last-child {
  margin-bottom: 0;
}
.course-chat .course-chat__img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  overflow: hidden;
  background: #39B54A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 768px) {
  .course-chat .course-chat__img {
    width: 56px;
    height: 56px;
  }
}
.course-chat .course-chat__img img {
  max-width: 100%;
}
.course-chat .course-chat__img p {
  font-size: 16px;
  line-height: 24px;
  font-family: MontserratB;
  color: white;
  margin: auto;
}
@media (min-width: 768px) {
  .course-chat .course-chat__img p {
    font-size: 18px;
    line-height: 32px;
  }
}
.course-chat .course-chat__text {
  padding-left: 16px;
}
.course-chat .course-chat__name {
  font-family: MontserratM;
  color: #627384;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 16px;
}
.course-chat .course-chat__message p {
  color: #262626;
  font-size: 16px;
  line-height: 24px;
  font-family: MontserratM;
  margin-bottom: 24px;
}
.course-chat .course-chat__message p:last-child {
  margin-bottom: 0px;
}

.course-chat_mb {
  margin-bottom: 24px;
}

@media (min-width: 1250px) {
  .personal__course-chat {
    width: 74.28%;
  }
}

.download-link_m {
  margin: 24px 0;
  display: inline-block;
}
.download-link_m:before {
  top: 0;
}

.video-container {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  max-width: 532px;
}
.video-container video {
  display: block;
}
.video-container img {
  max-width: 100%;
  display: block;
}
.video-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(76, 89, 103, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.video-container .overlay .overlay__text {
  color: white;
  font-size: 20px;
  line-height: 32px;
  font-family: MontserratM;
  text-align: center;
  margin-bottom: 24px;
}
.video-container .overlay .overlay__btn {
  color: white;
}
.video-container .overlay .overlay__img {
  margin-bottom: 14px;
  width: 40px;
}

.homework-module {
  margin-top: -100px;
  margin-bottom: 80px;
}

.course-price_green {
  background: #39B54A;
}