.questions-wrapper {
  padding: 168px 0 80px 0;
}

.questions-topline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}
.questions-topline .h2-title {
  margin-bottom: 16px;
  width: 100%;
}
@media (min-width: 768px) {
  .questions-topline .h2-title {
    margin-bottom: 0;
    width: auto;
  }
}
.questions-topline .show-all {
  font-size: 16px;
  line-height: 24px;
  color: #627384;
  font-family: MontserratSB;
  width: 100%;
}
@media (min-width: 768px) {
  .questions-topline .show-all {
    width: auto;
    font-size: 18px;
    line-height: 32px;
  }
}

.questions-body {
  width: 100%;
}

.questions-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.questions-list .questions-list__item {
  border-bottom: 1px solid #DDE0E3;
  margin-bottom: 24px;
  position: relative;
}
.questions-list .questions-list__item .questions-list__text {
  overflow: hidden;
}
.questions-list .questions-list__item.disabled .questions-list__show-btn {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.questions-list .questions-list__item.disabled .questions-list__text {
  height: 0;
}
.questions-list .questions-list__show-btn {
  position: absolute;
  top: 8px;
  right: 0;
  cursor: pointer;
}
.questions-list .questions-list__head {
  font-family: MontserratB;
  font-size: 18px;
  line-height: 32px;
  color: #4C5967;
  margin-bottom: 16px;
  padding-right: 30px;
}
@media (min-width: 768px) {
  .questions-list .questions-list__head {
    font-size: 20px;
  }
}
.questions-list .questions-list__text {
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.questions-list .questions-list__text p {
  font-family: MontserratM;
  font-size: 18px;
  line-height: 32px;
  color: #4C5967;
  padding-bottom: 24px;
}
@media (min-width: 768px) {
  .questions-list .questions-list__text p {
    font-size: 20px;
  }
}

.questions__questions-list {
  width: 100%;
}
@media (min-width: 1024px) {
  .questions__questions-list {
    max-width: 608px;
  }
}
@media (min-width: 1250px) {
  .questions__questions-list {
    max-width: 736px;
  }
}

.question-list__success {
  color: #39B54A;
  font-family: MontserratSB;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 24px;
}
.question-list__success:before {
  content: url("../src/img/success.svg");
  margin-right: 10px;
}