.select-box .container {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.select-box .select-box__body {
  border: 2px solid #FF6A00;
  border-radius: 8px;
  padding: 16px;
}
@media (min-width: 768px) {
  .select-box .select-box__body {
    padding: 62px;
  }
}
@media (min-width: 1024px) {
  .select-box .select-box__body {
    padding: 80px;
  }
}
@media (min-width: 1180px) {
  .select-box .select-box__body {
    padding: 96px;
  }
}
.select-box .select-box__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.select-box .select-box__form .select-box__checkbox {
  margin-right: 16px;
  margin-bottom: 24px;
}
.select-box .select-box__checkbox input[type=checkbox] {
  display: none;
}
.select-box .select-box__checkbox label {
  border-radius: 32px;
  border: 2px solid #8A99A8;
  cursor: pointer;
  color: #262626;
  font-family: MontserratM;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 12px;
}
@media (min-width: 768px) {
  .select-box .select-box__checkbox label {
    padding: 12px 28px;
  }
}
.select-box .select-box__checkbox input[type=checkbox]:checked + label {
  border-color: #39B54A;
  background: #39B54A;
  color: white;
}
.select-box .select-box__btn {
  margin-top: 16px;
  width: 100%;
}
@media (min-width: 768px) {
  .select-box .select-box__btn {
    margin-top: 24px;
    width: auto;
  }
}
@media (min-width: 1024px) {
  .select-box .select-box__btn {
    margin-top: 40px;
  }
}

.select-box_pb {
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .select-box_pb {
    padding-bottom: 80px;
  }
}
@media (min-width: 1024px) {
  .select-box_pb {
    padding: 104px;
  }
}
@media (min-width: 1180px) {
  .select-box_pb {
    padding-bottom: 120px;
  }
}