/* ОБЩИЕ СТИЛИ */
/* 
.wrap {
  padding-bottom: 80px;
} */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1120px;
}

/***
  * BUTTONS
  */

.btn {
  padding: 12px 32px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border: 1px solid transparent;
  font-weight: 600;
}

.btn-orange {
  background: #FF6A00;
  color: #fff;
}

.btn-orange:hover {
  background: #E66000;
  color: #fff;
}

.btn-white {
  background: #fff;
  color: #FF6A00;
  border: 1px solid #FF6A00;
}

.btn-white:hover {
  background: #fff;
  color: #FF6A00;
  border: 1px solid #E66000;
}

.btn-green-white {
  background: transparent;
  color: #39B54A;
  border: 1px solid #39B54A;
}

.btn-green-white:hover {
  background: #39B54A;
  color: #fff;
  border: 1px solid #39B54A;
}

/***
  * FONTS
  */
.fs16-24 {
  font-size: 16px;
  line-height: 24px;
}
.fs18-32 {
  font-size: 18px;
  line-height: 32px;
}
.fs20-32 {
  font-size: 20px;
  line-height: 32px;
}

.fs24-35 {
  font-size: 24px;
  line-height: 35px;
}

.fs24-32 {
  font-size: 24px;
  line-height: 32px;
}

.fs32-40 {
  font-size: 32px;
  line-height: 40px;
}

.fs56-64 {
  font-size: 56px;
  line-height: 64px;
}

.fc-w {
  color: #fff;
}

.h2-title {
  margin-bottom: 40px;
  font-family: MontserratEB;
  font-size: 54px;
  line-height: 64px;
}

/***
  * HEADER
  */

.header {
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 8px rgb(81 91 106 / 18%);
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 999;
}

.header-logo {
  width: 210px;
  height: 50px;
  background-image: url('../src/img/synergy_logo.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.header-navbar {
  display: flex;
  align-items: center;
}

.navbar--item {
  margin-right: 24px;
}

.navbar--item:last-child {
  margin-right: 0;
}

.navbar--link {
    font-weight: bold;
    font-size: 18px;
}

.navbar--link:hover, .navbar--link.active {
  color: #FF6A00;
  text-decoration: underline;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}

.header-burger {
  display: none;
  width: 32px;
  height: 32px;
  background-image: url(../src/img/burger.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.header-burger:hover {
  cursor: pointer;
}

.burger-menu,
.filter-menu {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: #fff;
  box-shadow: 0px 4px 16px rgba(76, 89, 103, 0.16);
  width: 350px;
  z-index: 999;  
}

.filter-menu {
  min-height: 140vh;
}

.burger-menu-topline,
.filter-menu-topline {
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.burger-menu-topline .header-logo {
  width: 180px;
}

.filter-h {
  font-family: MontserratB;
  font-size: 32px;
  line-height: 40px;
}

.burger-close,
.filter-close {
  width: 28px;
  height: 28px;
  background-image: url(../src/img/modal_close.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.burger-menu-body,
.filter-menu-body {
  padding: 40px;
}

.burger-menu-body .header-navbar {
  flex-direction: column;
  align-items: flex-start;
}

.burger-menu-body .navbar--item {
  margin-right: 0;
  margin-bottom: 32px;
}

.filter-menu .courses-filterbar {
  width: 100%;
  margin-right: 0;
}

/***
  * MAT
  */

.mat {
  height: 98px;
}

/***
  * BLOCK
  */
  
.block-1_2 {
  width: 49%;
  margin-bottom: 80px;
}

.block-1_3 {
  width: 32%;
  margin-bottom: 80px;
}

.block-1_1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 64px;
}

.block-img {
  display: block;
  margin-bottom: 24px;
  border: 1px solid transparent;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.block-1_1 .block-img {
  width: 48%;
}

.block-1_1 iframe {
  width: 100%;
}

.block-img:hover img {
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  box-shadow: 5px 5px 15px 5px #b3b3b3;
}

.block-img img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.block-title {  
  display: block;
  font-family: MontserratB;  
  margin-bottom: 16px;
}

.block-title-top {
  font-family: MontserratB;  
  margin-bottom: 16px;
}

.block-title:hover {
  color: #FF6A00;
  transition: all .2s ease-in-out;
}
.teachers-wrap .block-title:hover {
  color: white;
  transition: all .2s ease-in-out;
  text-decoration: underline;
}
.block-info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.block-info-blue {
  display: block;
  color: #2DB7D2;
  font-family: MontserratB;
  text-decoration: underline;
  margin-right: 16px;
  margin-bottom: 4px;
}

.block-info-blue:hover {
  color: #ccc;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}

/***
  * VIDEO_WRAPPER
  */

  
.video-wrap {
  width: 100%;
  height: 600px;
  display: flex;
  margin: 40px 0;
}

.video-wrap iframe {
  margin: auto;
  border-radius: 8px;
}

/***
  * INPUT
  */

.input-wrapper-50 {
  width: 50%;
}

.input-wrapper-100 {
  width: 100%;
}

.input-wrapper-80 {
  width: 80%;
}

.input {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid #C7CCD1;
  box-sizing: border-box;
  border-radius: 4px;
  position: relative;
}

.input:hover {
  border: 1px solid #ABB3BA;
  cursor: pointer;
}

.input:focus {
  border: 1px solid #627384;
}

.input[disabled] {
  background: #F1F2F4;
  border: 1px solid #C7CCD1;
  border-radius: 4px;
}

.input[disabled]:hover {
  cursor: auto;
}

select {
  -moz-appearance: none;
 -webkit-appearance: none;
 appearance: none;
 
}

.select-wrapper {
  position: relative;
}

.select-wrapper:after {
  content: '';
  position: absolute;
  display: block;
  width: 12px;
  height: 6px;
  top: 40%;
  right: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../src/img/select_arr.svg);
  pointer-events: none;
}

/***
* CHECKBOX
*/

.checkbox-wrapper {
  display: flex;
  align-items: center;
  padding: 2px 0;
  margin-bottom: 24px;
}

.checkbox-wrapper label {
  width: 100%;
  position: relative;
}

.checkbox-wrapper label:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../src/img/checkbox_off.svg);
}

.checkbox-wrapper label:hover {
  cursor: pointer;
}

.checkbox {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.checkbox:checked + label .checkbox-dscr {
  color: #FF6A00;
}

.checkbox:checked + label:after {
  background-image: url(../src/img/checkbox_on.svg);
}

.checkbox-dscr {
  color: #4C5967;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  margin-left: 40px;
}
/* радиокнопки */

/* стили страницы */

.page-title { /* заголовок */
  font-family: MontserratB;
  font-size: 32px;
  line-height: 40px;
  color: #262626;
  margin-bottom: 40px;
}

.page-text { /* основной текст */
  font-size: 20px;
  line-height: 32px;
  color: #4C5967;
  margin-bottom: 32px;
}

.page-anchor { /* ссылки в тексте */
  color: #2DB7D2;
  font-weight: 600;
  text-decoration: underline;
}

/* CAROUSEL */

.ant-carousel {
  display: none;
  width: 100%;
}

.ant-carousel-hider {
  overflow: hidden;
}

.ant-carousel-list {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
}

.ant-carousel-element {
  display: block;
  flex: 0 0 auto;
  width: 100%;
}

div.ant-carousel-dots {
  width: 100%;
  margin-bottom: 24px;
  text-align: center;
}

span.ant-dot {
  width: 16px;
  height: 16px;
  margin: 5px 7px;
  padding: 0;
  display: inline-block;
  background-color: #fff;
  opacity: 0.4;
  border-radius: 100%;
  cursor: pointer;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.ant-carousel .block-1_1,
.ant-carousel .block-1_2,
.ant-carousel .block-1_3 {
  width: 100%;
  margin-bottom: 40px;
}

.ant-carousel .block-1_1 {
  flex-direction: column;
}

.ant-carousel .block-img,
.ant-carousel .contest-info {
  width: 100%;
}

.video-container {
  margin-top: 20px;
}
.video-container video {
  width: 100%;
}
