.teachers-wrapper {
  padding: 150px 0 80px 0;
}

.teachers-wrapper .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.teachers-topline {
  width: 100%;
  margin-bottom: 40px;
}

.teachers-search-input { 
  position: relative;
}

.teachers-search-input:after {
  content: '';
  position: absolute;
  display: block;
  width: 18px;
  height: 18px;
  background-image: url('../src/img/search_icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  top: 14px;
  left: 18px;
  pointer-events: none;
}

.teachers-search-input .input {
  padding: 12px 16px 12px 56px;
}

.teachers-body {  
  display: flex;
}

.teachers-search-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.teachers-search-wrap button {
  padding: 10px 16px;
  border: 1px solid #C7CCD1;
  box-sizing: border-box;
  border-radius: 8px;
  color: #8A99A8;
  display: flex;
  align-items: center;
  line-height: 24px;
}

.arr-grey-icon {
  height: 16px;
  width: 14px;
  background-image: url(../src/img/arr-up-grey.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-left: 20px;
}

.teachers-list {
  display: flex;
  align-items: flex-start;  
  width: 100%;
  flex-wrap: wrap;
  /*justify-content: space-between;*/
}

.teacher-list-block {
  max-width: 32%;
  margin-bottom: 80px;  
}
@media (min-width: 561px) and (max-width: 767px) {
  .teacher-list-block {
    margin-right: 3%;
  }
  .teacher-list-block:nth-child(2n) {
    margin-right: 0;

  }
}
@media (min-width: 768px) {
  .teacher-list-block {
    margin-right: 2%;
  }
  .teacher-list-block:nth-child(3n) {
    margin-right: 0;

  }
}

.teacher-list-foto {
  border-radius: 8px;
  display: block;
  border: 1px solid transparent;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  margin-bottom: 24px;
}

.teacher-list-foto img {
  width: 100%;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.teacher-list-foto:hover img {
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  box-shadow: 5px 5px 15px 5px #b3b3b3;
  cursor: pointer;
}

.teacher-list-title {
  display: block;
  font-size: 24px;
  line-height: 32px;
  font-family: MontserratB;
  margin-bottom: 16px;
  color: #262626;
}

.teacher-list-dscr {
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 32px;
  color: #262626;
}

.teacher-list-title:hover {
  cursor: pointer;
  color: #FF6A00;
  transition: all .2s ease-in-out;
}

.teacher-list-title:hover + .teacher-list-dscr {
  color: #FF6A00;
  transition: all .2s ease-in-out;
}

.teacher-list-footer {
  display: flex;
}

.teacher-list-info-lessons {
  position: relative;
  color: rgb(126, 126, 126);
}

.teacher-list-info-lessons:before {
  content: '';
  display: block;
  position: absolute;
  top: 6px;
  left: -10px;
  background-color: rgb(126, 126, 126);
  width: 4px;
  height: 4px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.teacher-pg .container {
  align-items: flex-start;
}

.teacher-pg-header {
  padding-top: 32px;
  margin-bottom: 80px;
  width: 100%;
}

.go-to-back-grey {
  vertical-align: middle;
}

.go-to-back-grey span{
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: #627384;
}


.teacher-pg-title {
  font-family: MontserratEB;
  font-size: 56px;
  line-height: 64px;
  color: #262626;
  margin: 16px 0 24px;
}

.teacher-pg-dscr {
  max-width: 640px;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 40px;
}

.teacher-pg-h3-title {
  font-family: MontserratB;
  font-size: 32px;
  line-height: 40px;
  color: #262626;
  margin-bottom: 40px;
}

.teacher-pg-photos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.teacher-pg-photo-wrap {
  width: 32%;  
}

.teacher-pg-photo {
  width: 100%;
  height: 100%;
}

.teacher-pg-about {
  margin-bottom: 80px;
}

.teacher-pg-about p {
  color: #4C5967;
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 24px;
  max-width: 730px;
}

.teacher-pg-courses {
  margin-bottom: 80px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.teacher-pg-courses .course {
  width: 30%;
  flex-direction: column;
}

.teacher-pg-courses .course-img {
  width: 100%;
}

.teacher-pg-courses .course-info {
  width: 100%;
}

.teacher-pg-courses .course-details {
  flex-direction: column-reverse;
  align-items: flex-start;
}

.teacher-pg-courses .course-status {
  margin-left: 0;
  margin-bottom: 16px;
}

.teacher-pg-feedback {
  max-width: 740px;
}