.back-link {
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 32px;
  a {
    color: #627384;
    font-family: MontserratSB;
    padding-left: 4px;
  }
  &:before {
    content: url("../src/img/back-arrow.svg");
    position: relative;
    top: 1px;
  }
}
.contest-registration_padding {
  padding: 120px 0 80px 0;
  .container {
    align-items: stretch;
  }
}
.contest-registration {
  .contest-registration__body {
    max-width: 736px;
  }
  .text-subtitle {
    margin-bottom: 40px;
  }
  select {
    background: white;
  }
}
.contest-registration__regulation {
  margin-bottom: 40px;
}
.text-subtitle {
 font-size: 20px;
  line-height: 40px;
  font-family: MontserratB;
  color: #262626;
  @media (min-width: 768px) {
    font-size: 32px;
  }
}
.text-general {
  font-size: 18px;
  line-height: 32px;
  font-family: MontserratM;
  color: #4C5967;
  @media (min-width: 768px) {
    font-size: 20px;
  }
  &.text-general_bold {
    font-family: MontserratB;
  }
  &.text-general_mb40 {
    margin-bottom: 40px;
  }
  &.text-general_mb80 {
    margin-bottom: 80px;
  }
}
.mail-link {

}
.input-wrapper-w200 {
  max-width: 200px;
}
.input-wrapper-w400 {
  max-width: 400px;
}
.radio {
  position: relative;

  label {
    position: relative;
    padding: 5px 0 5px 40px;
    &:before {
      display: block;
      content: '';
      width: 24px;
      height: 24px;
      border-radius: 100%;
      border: 2px solid #ABB2BA;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  input[type="radio"]:checked + label:after {
    content: '';
    width: 18px;
    height: 18px;
    background: #FF6A00;
    border-radius: 100%;
    position: absolute;
    top: 3px;
    left: 3px;
  }
  input[type="radio"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
  }
}
.radio-group {
  display: flex;
  padding: 16px 0;
  margin-bottom: 16px;
  .radio {
    margin-right: 40px;
  }
}
