.contest-header {
  .header-info {
    .go-to-back-white {
      margin-bottom: 16px;
    }
    .header-title {
      font-size: 36px;
      line-height: 40px;
      margin-bottom: 24px;
      @media (min-width: 768px) {
        font-size: 48px;
        line-height: 56px;
        margin-bottom: 32px;
      }
      @media (min-width: 1024px) {
        font-size: 56px;
        line-height: 64px;
        margin-bottom: 40px;
      }
    }
    .header-dscr {
      font-size: 20px;
      line-height: 32px;
      margin-bottom: 40px;
      @media (min-width: 768px) {
        font-size: 24px;
        margin-bottom: 16px;
      }
      @media (min-width: 1024px) {
        margin-bottom: 32px;
      }
    }
    .contest-date-info {
      margin-bottom: 32px;
      @media (min-width: 1024px) {
        margin-bottom: 64px;
      }
      p {
        font-size: 18px;
        line-height: 32px;
        @media (min-width: 768px) {
          font-size: 20px;
        }
        strong {
          font-size: 20px;
          @media (min-width: 768px) {
            font-size: 24px;
          }
        }
      }
    }
    .btn {
      max-width: 100%;
      @media (min-width: 768px) {
        max-width: max-content;
      }
    }
  }
}
.contest-page__spec {
  color: #FF6A00;
  font-size: 18px;
  line-height: 32px;
  font-family: MontserratSB;
  @media (min-width: 768px) {
    font-size: 20px;
  }
}
.contest-dscr-block {
  margin-bottom: 0;
}
.work-list__head {
  color: #262626;
  font-family: MontserratB;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 40px;
  @media (min-width: 768px) {
    font-size: 32px;
    line-height: 40px;
  }
}
.work-list__item {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @media (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.work-list__img {
  max-width: 100%;
  margin-bottom: 10px;
  order: 0;
  @media (min-width: 768px) {
    width: 35%;
  }
}

.work-list__disc {
  order: 2;
  @media (min-width: 768px) {
    order: 1;
    width: 61%;
  }
}
.work-list__name {
  font-size: 20px;
  line-height: 32px;
  color: #262626;
  margin-bottom: 16px;
  font-family: MontserratB;
}
.work-list__text {
  color: #4C5967;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 16px;

}
.work-list__show {
  font-size: 18px;
  line-height: 32px;
  font-family: MontserratSB;
  color: #FF6A00;
  @media (min-width: 768px) {
    margin-bottom: 36px;
    display: inline-block;
  }
}
.work-list__vote {
  width: 100%;
  order: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  @media (min-width: 768px) {
    order: 2;
  }
}
.work-list__vote_mobile {
  @media (min-width: 768px) {
    display: none;
  }
}
.work-list__vote_desc {
  display: none;
  @media (min-width: 768px) {
    display: flex;
  }
}
.vote__control {
  display: flex;
  align-items: center;
  span {
    display: none;
  }
}
.vote__count {
  color: #4C5967;
  font-size: 16px;
  line-height: 20px;
}
.contest-button {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  width: 100%;
  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
  }
}
.contest-page__btn {
  margin-bottom: 20px;
  @media (min-width: 768px) {
    margin-left: 10px;
    margin-right: 10px;
    width: 256px;
  }
}
