//Прогрессбар
.step-progress {
  display: flex;
  .step-progress__item {
    flex-basis: 100%;
    position: relative;
    &:last-child {
      flex-basis: auto;
    }
    &last-child:after {
      content: none;
    }
    &:after {
      content: '';
      display: block;
      height: 4px;
      width: calc(100% - 24px);
      position: absolute;
      left: 24px;
      top: 10px;
    }
    &.step-progress__item_previous {
      &:after {
        background: #39B54A;
      }
      &:before {
        border-color: #39B54A;
        background: url("../src/img/step-previous-icon.svg") no-repeat 3px 5px;
      }
    }
    &.step-progress__item_current {
      &:before {
        border-color: #39B54A;
      }
      &:after {
        background: #C7CCD1;
      }
    }
    &.step-progress__item_next {
      &:after {
        background: #C7CCD1;
      }
    }
    &:before {
      content: '';
      display: block;
      width: 24px;
      height: 24px;
      border: 3px solid #C7CCD1;
      border-radius: 100%;
    }
  }
}
//personal-payment-wrapper
.personal-payment-wrapper {
  .btn {
    width: 100%;
    margin-bottom: 24px;
  }
  @media (min-width: 768px) {
    width: 576px;
    .btn {
      width: 448px;
    }
    .offer {
      width: 448px;
    }
  }
  .payment-icon-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 42px;
  }
  .text-sub {
    margin-bottom: 26px;
  }
  .offer {
    color: #4C5967;
    line-height: 32px;
    font-size: 18px;
    font-family: MontserratSB;
    a {
      color: #0177FF;
      text-decoration: underline;
    }
  }
}
//.card-payment
.card-payment {
  position: relative;
  @media (min-width: 768px) {
    padding-bottom: 64px;
  }
  .card-payment__item {
    border-radius: 16px;
    padding: 80px 24px 24px 24px;
    @media (min-width: 768px) {
      width: 410px;
    }
    @media (min-width: 1023px) {
      width: 448px;
    }
  }
  .card-payment__item_front {
    background: #0177FF;
    margin-bottom: 24px;
    position: relative;
    z-index: 9;
  }
  .card-payment__item_back {
    background: #0DC474;
    display: flex;
    justify-content: flex-end;
    position: relative;
    padding: 124px 16px 16px 16px;
    margin-bottom: 40px;

    @media (min-width: 768px) {
      position: absolute;
      top: 64px;
      left: 128px;
    }
    .black-line {
      width: 100%;
      height: 48px;
      background: #363636;
      position: absolute;
      left: 0;
      top: 24px;
    }
  }
  .input-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    &:last-child {
      margin-bottom: 0;
    }
    input {
      width: 100%;
    }
  }
  input[type='text'], input[type='number'], select {
    padding: 12px 16px;
    border: 1px solid #C7CCD1;
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
    color: #8A99A8;
    font-family: MontserratM;
    background: white;
  }
  select {
    width: 88px;
  }
  option {
    background: white;
  }
  span {
    color: white;
    display: inline-block;
    margin: 0 8px;
  }
  .valid-text {
    font-family: MontserratM;
    font-size: 14px;
    line-height: 16px;
    color: white;
    display: inline-block;
    width: 44px;
    margin: 0 16px 0 0;
    opacity: 0.5;
  }
  .cvv {
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    p {
      font-size: 14px;
      line-height: 16px;
      color: white;
      font-family: MontserratM;

    }
    .top {
      text-align: center;
      margin-bottom: 8px;
    }
    .bottom {
      text-align: right;
      @media (min-width: 769px) {
        width: 112px;
      }
    }
    .input-wrapper {
      width: 80px;
      display: block;
    }
  }

}
.text-general_mtmb {
  margin: 32px 0 40px 0;
}
.text-sub {
  font-family: MontserratM;
  font-size: 16px;
  line-height: 24px;
  color: #4C5967;
}
