.modal-overlay {
  display: none;
  padding-top: 30px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999999999;
  overflow-y: scroll;
  background: rgba(76, 89, 103, .8);
}
.payment-status-modal {
  .modal-close {
    top: 12px;
    right: 12px;
    @media (min-width: 768px) {
      top: 24px;
      right: 24px;
      margin: auto;
    }
    @media (min-width: 1024px) {
      left: 0;
      right: 0;
      margin: auto;
    }
  }
  .modal-wrap {
    width: 100%;
    padding: 16px;
    top: -200px;
    transition: 0.6s;
    @media (min-width: 768px) {
      padding: 96px;
    }
    .modal-wrap__img {
      padding: 24px 0 40px 0;
      @media (min-width: 768px) {
        padding: 0 0 48px 0;
      }
      img {
        max-width: 100%;
        width: 160px;
        @media (min-width: 768px) {
          width: 200px
        }
      }
    }
    .form-message {
      color: #262626;
      font-family: MontserratB;
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 24px;
      text-align: center;
    }
    .form-text {
      color: #8A99A8;
      font-size: 18px;
      line-height: 32px;
      font-family: MontserratM;
      text-align: center;
      margin-bottom: 40px;
      @media (min-width: 768px) {
        margin-bottom: 48px;
        font-size: 20px;
        line-height: 32px;
      }
    }
    .btn-orange-border {
      margin-top: 24px;
    }
    @media (min-width: 1024px) {
      max-width: 712px;
    }
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

  }
}