$orange: #FF6A00;
$gray: #ABB2BA;
$green: #39B54A;
$textGray: #627384;
.mobile-hidden {
  display: none;
}
.input-wrapper-56 {
  width: 56.8%;
}
@media (min-width: 1250px) {
  .desktop-hidden {
    display: none;
  }
  .mobile-hidden {
    display: block;
  }
}
//personal-menu
.personal-menu {
  .personal-menu__item {
    margin-bottom: 32px;
    a.active {
      color: #FF6A00;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      text-decoration: underline;
    }
  }

  a {
    color: #627384;
    font-family: MontserratM;
    font-size: 18px;
  }
  a:hover {
    color: $orange;
    transition: all .2s ease-in-out;
    text-decoration: underline;
  }
}
.header__personal-menu {
  display: none;
  background: white;
  box-shadow: 0px 4px 16px 0px #515B6A29;
  position: fixed;
  z-index: 999;
  top: 98px;
  right: 0;
  .personal-menu__items {
    padding: 0 32px;
  }
  .personal-menu__bottom {
    border-top: 1px solid #C7CCD1;
    padding: 32px;
  }
  .personal-menu__head {
    font-family: MontserratB;
    margin-bottom: 32px;
    padding: 32px 32px 0 32px;
  }
  @media (min-width: 768px) {
    width: 344px;
    top: 122px;
    right: 24px;
    border-radius: 8px;
  }
}
.personal-body__personal-menu {
  flex-basis: 26.2%;
  padding-right: 20px;
}
//account
.account {
  .account__item {
    margin-left: 20px;
  }
}
.header__account {
  @media (max-width: 1250px) {
    padding-right: 20px;
    display: flex;
    justify-content: flex-end;
    flex-basis: 100%;
  }
}

//personal-wrapper
.personal-wrapper {
  padding: 128px 0 64px;
  @media (min-width: 768px) {
    padding: 168px 0 80px;
  }
  .container {
    align-items: stretch;
  }
  .course {
    width: 100%;
  }
  .course-details {
    .btn {
      width: 100%;
      @media (min-width: 768px) {
        width: auto;
      }
    }
  }
}
//personal-body
.personal-body {
  display: flex;
  width: 100%;
  .personal__courses-list, .personal__content {
    @media (min-width: 1250px) {
      flex-basis: 73.8%;
    }
  }
}
//profile
.profile {
  flex-basis: 352px;
  max-width: 100%;
  .btn {
    width: 100%;
  }
  textarea {
    line-height: 24px;
  }
  .profile__link {
    font-family: MontserratSB;
    color: $orange;
    cursor: pointer;
    margin-bottom: 32px;
    display: block;
  }
}
//profile__password-btn
.profile__password-btn {
  margin-bottom: 32px;
}
//change-password
.change-password {
 display: none;
}
//photo
.photo {
  display: flex;
  //justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #F1F2F4;
  img {
    max-width: 100%;
  }
  .photo__plug {
    margin: 72px 0 38px 0;
  }
  .photo__file {
    p {
      margin-bottom: 40px;
      cursor: pointer;
      color: #8A99A8;
      font-family: MontserratSB;
    }

  }
}
.profile__photo {
  margin-bottom: 32px;
}
//input-password
.input-password {
  position: relative;
  .input-password__icon {
    position: absolute;
    top: 11px;
    right: 12px;
    cursor: pointer;
  }
}
//personal__teachers-search-wrap
.personal__teachers-search-wrap {
  margin-bottom: 40px;
  //flex-direction: column;
  flex-wrap: wrap;
}
//search-input__profile
.search-input__profile {
  min-width: 100%;
  margin-bottom: 24px;
  @media (min-width: 768px) {
    padding-right: 24px;
    margin-bottom: 0;
    min-width: auto;
  }

  flex-grow: 1;
  width: auto;
}
//select-wrapper
.select-wrapper_profile {
  min-width: 100%;
  @media (min-width: 768px) {
    min-width: 184px;
    width: 20%;
  }
}
//input_select
.input_select {
  background: white;
  padding: 13px 16px 14px 16px;
}
//course-details__progress
.course-details__progress {
  padding: 4px 16px;
  color: white;
  font-family: MontserratSB;
  border-radius: 34px;
}
.course-details__progress_low {
  background: $gray;
}
.course-details__progress_high {
  background: $green;
}
//personal__span-filter-bar {
.personal__span-filter-bar {
  @media (max-width: 768px) {
    width: 100%;
    overflow-y: scroll;
    .span-filter-item {
      flex-shrink: 0;
      margin-bottom: 2px;
    }
  }
}
//book-list__item
.book-list__item {
  margin-bottom: 40px;
}
//book
.book {
  display: flex;
  flex-direction: column;

  .book__image {
    margin-bottom: 12px;
    max-width: 160px;
    img {
      max-width: 100%;
    }
  }
  .book__name {
    margin-bottom: 16px;
    font-family: MontserratB;
  }
  .book__author {
    margin-bottom: 24px;
    font-family: MontserratM;
    color: $textGray;
  }
  @media (min-width: 768px) {
    flex-direction: row;
    .book__image {
      flex-shrink: 0;
    }
    .book__description {
      padding-left: 32px;
    }
  }
}
//download-link
.download-link {
  font-family: MontserratSB;
  color: $orange;
  position: relative;
  padding-left: 30px;
  &:before {
    content: url("/src/img/personal/download-icon.svg");
    position: absolute;
    top: -2px;
    left: 0;
  }
  &:hover {
    color: #FF6A00!important;
  }
}
//btn-orange-border
.btn-orange-border {
  border: 1px solid $orange;
  color: $orange;
  &:hover {
    color: $orange;
  }
}
//text
.text {
  font-family: MontserratM;
  color: #4C5967;
}
//book-detail
.book-detail {
  display: flex;
  flex-direction: column;
  .book-detail__text {
    margin-bottom: 40px;
  }
  .book-detail__img {
    max-width: 368px;
    margin-bottom: 40px;
  }
  .book-detail__btn {
    max-width: 368px;
    margin-bottom: 24px;
  }
  .btn-orange-border {
    margin-bottom: 64px;
  }
  @media (min-width: 768px) {
    max-width: 768px;
  }
}
//btn-icon
.btn-icon {
  padding-top: 7px;
  img {
    position: relative;
    top: 4px;
  }
}
//personal-partner
.personal-partner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .personal-partner__partner-item {

   width: 100%;
    margin-bottom: 32px;
    @media (min-width: 768px) {
      width: 49%;
    }
    @media (min-width: 1024px) {
      width: 32%;
    }
  }
}
//partner-item
.partner-item {
  padding: 40px 30px;
  box-shadow: 0px 4px 16px 0px #4C596729;
  border-radius: 8px;
  text-align: center;
  display: block;
  .partner-item__img {
    display: flex;
    justify-content: center;
    margin-bottom: 56px;
    img {
      max-width: 100%;
    }
  }
  .head {
    margin-bottom: 8px;
    font-family: MontserratB;
    color: #4C5967;
  }
  p {
    font-family: MontserratM;
    color: #627384;
  }
}
//personal-support
.personal-support {
  width: 100%;
}
//chat
.chat {
  border-radius: 4px;
  @media(min-width: 768px) {
    padding: 32px;
    border: 1px solid #C7CCD1;
  }
}
.personal__chat {
  margin-bottom: 24px;
}
//chat-item
.chat-item {
  display: flex;
  flex-direction: column;
  .chat-item-wrapper {
    max-width: 92%;
    @media(min-width: 768px) {
      max-width: 58.3%;
    }

  }
  .chat-item__message {
    padding: 12px;
    margin-bottom: 8px;
    @media(min-width: 768px) {
      padding: 24px;
    }
  }
  .chat-item__name, .chat-item__time {
    color: #627384;
    font-size: 14px;
    line-height: 16px;
    font-family: MontserratM;
    margin-bottom: 16px;
  }
  .chat-item__text {
    color: #262626;
    font-size: 16px;
    line-height: 24px;
    font-family: MontserratM;
  }
  .chat-item__time {
    text-align: right;
  }
}
.chat__message_outgoing {
  align-items: flex-end;
  .chat-item__message {
    background: #F1F2F4;
    border-radius: 8px 8px 0 8px;
  }
}
.chat__message_incoming {
  align-items: flex-start;
  .chat-item__message {
    background: #EBF9EE;
    border-radius: 8px 8px 8px 0;
  }
}
//message-form
.message-form {
  display: flex;
  .active-img {
    display: none;
  }
  &.active {
    .disabled-img {
      display: none;
    }
    .active-img {
      display: block;
    }
  }
  .message-form__btn {
    min-width: auto;
    padding: 14px 16px 6px 16px;
    p {
      display: none;
    }
    font-family: MontserratSB;
    @media(min-width: 768px) {
      flex-basis: 240px;
      min-width: 256px;
      padding: 11px 32px;
      p {
        display: block;
      }
      img {
        display: none;
      }
    }
  }
  .message-form__input {
    flex-basis: 100%;
    padding-right: 16px;
    position: relative;
    @media(min-width: 768px) {
      padding-right: 24px;
    }
    .message-form__send-btn {
      position: absolute;
      top: 8px;
      right: 26px;
      background: none;
      @media(min-width: 768px) {
        right: 36px;
      }
    }

    .input {
      padding: 14px 16px;
    }

  }
}
//subtitle
.subtitle {
  color: #262626;
  font-family: MontserratB;
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 40px;
  @media (min-width: 768px) {
    font-size: 24px;
  }
}
.personal__questions-list {
  margin-bottom: 80px;
}
.span-filter-item {
  line-height: 32px!important;
}
//.course-program 
.course-program {
  width: 100%;
  @media (min-width: 1024px) {
    width: 65.5%;
  }
}
//.course-chat
.course-chat {
  @media (min-width: 768px) {
    padding: 32px;
    border: 1px solid #C7CCD1;
    border-radius: 4px;
  }
  @media (min-width: 1024px) {
    padding-right: 24%;
  }
  @media (min-width: 1250px) {
    padding-right: 15%;
  }
  .course-chat__item {
    display: flex;
    margin-bottom: 48px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .course-chat__img {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    @media (min-width: 768px) {
      width: 56px;
      height: 56px;
    }
    border-radius: 100%;
    overflow: hidden;
    background: #39B54A;
    display: flex;
    img {
      max-width: 100%;
    }
    p {
      font-size: 16px;
      line-height: 24px;
      @media (min-width: 768px) {
        font-size: 18px;
        line-height: 32px;
      }
      font-family: MontserratB;
      color: white;
      margin: auto;
    }
  }
  .course-chat__text {
    padding-left: 16px;
  }
  .course-chat__name {
    font-family: MontserratM;
    color: #627384;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 16px;
  }
  .course-chat__message {
    p {
      color: #262626;
      font-size: 16px;
      line-height: 24px;
      font-family: MontserratM;
      margin-bottom: 24px;
      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
}
.course-chat_mb {
  margin-bottom: 24px;
}


.personal__course-chat {
  @media (min-width: 1250px) {
    width: 74.28%;
  }
}


.download-link_m {
  margin: 24px 0;
  display: inline-block;
  &:before {
    top: 0;
  }
}
.video-container {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  max-width: 532px;
  video {
    display: block;
  }
  img {
    max-width: 100%;
    display: block;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(76, 89, 103, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .overlay__text {
      color: white;
      font-size: 20px;
      line-height: 32px;
      font-family: MontserratM;
      text-align: center;
      margin-bottom: 24px;
    }
    .overlay__btn {
      color: white;
    }
    .overlay__img {
      margin-bottom: 14px;
      width: 40px;
    }
  }
}
.homework-module {
  margin-top: -100px;
  margin-bottom: 80px;
}
.course-price_green {
  background: #39B54A;
}
