$questions-text-gray: #4C5967;
.questions-wrapper {
  padding: 168px 0 80px 0;
}
//questions-top-line
.questions-topline {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  margin-bottom: 40px;
  .h2-title {
    margin-bottom: 16px;
    width: 100%;
    @media (min-width: 768px) {
      margin-bottom: 0;
      width: auto;
    }
  }
  .show-all {
    font-size: 16px;
    line-height: 24px;
    color: #627384;
    font-family: MontserratSB;
    width: 100%;
    @media (min-width: 768px) {
      width: auto;
      font-size: 18px;
      line-height: 32px;
    }
  }
}

//questions-body
.questions-body {
  width: 100%;
}
//questions-list
.questions-list {
  display: flex;
  flex-direction: column;
  .questions-list__item {
    border-bottom: 1px solid #DDE0E3;
    margin-bottom: 24px;
    position: relative;
    .questions-list__text {
      overflow: hidden;
    }
    &.disabled {
      .questions-list__show-btn {
        transform: rotate(180deg);
      }
      .questions-list__text {
        height: 0;
      }
    }
  }
  .questions-list__show-btn {
    position: absolute;
    top: 8px;
    right: 0;
    cursor: pointer;
  }
  .questions-list__head {
    font-family: MontserratB;
    font-size: 18px;
    line-height: 32px;
    color: $questions-text-gray;
    margin-bottom: 16px;
    padding-right: 30px;
    @media (min-width: 768px) {
      font-size: 20px;
    }
  }
  .questions-list__text {
    transition: 0.6s;
    p {
      font-family: MontserratM;
      font-size: 18px;
      line-height: 32px;
      color: $questions-text-gray;
      padding-bottom: 24px;
      @media (min-width: 768px) {
        font-size: 20px;
      }
    }
  }
}
.questions__questions-list {
  width: 100%;
  @media (min-width: 1024px) {
    max-width: 608px;
  }
  @media (min-width: 1250px) {
    max-width: 736px;
  }
}
.question-list__success {
  color: #39B54A;
  font-family: MontserratSB;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 24px;
  &:before {
    content: url("../src/img/success.svg");
    margin-right: 10px;
  }

}